* {
    margin: 0 auto;
    padding: 0px;
    font-family: "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", SimHei, sans-serif;
}
a{color:#000;text-decoration:none}
a:focus{outline:none}
li{list-style-type:none;}
.left{float:left;}
.right{float:right;}
.f1{float:left; margin-left:20px;}

.font-yahei {
    font-family: "Microsoft YaHei"
}

a.btn{border: 0;
    border-radius: 5px;
    cursor: pointer;
    background:#15b0f5;
    padding: 5px 20px;
    color:#fff;
}

.fixed{position:fixed; top:500px; right:250px;}
.topfixed{position:fixed; right:20px; bottom:200px; width:50px;}
.topfixed li{color: #fff;border-radius: 2px;margin-bottom: 3px;cursor: pointer;position:relative;}
.topfixed .text{background-color: #f75e12; width:30px;height: 40px; font-size:14px; padding:5px 10px;text-align: center; vertical-align:middle;position: absolute; top:0; left:0; display:none;}
.topfixed .text a{ text-decoration:none; color:#ffffff;}
.topfixed li:hover .text{display:block;}
.topfixed .icon{background:url("/Images/icon_bg.png"); background-color:#dfdfdf; height:50px; width:50px;  display:block;}
.topfixed .icon-suggest{background-position:-490px -88px;}
.topfixed .icon-qq{background-position:-490px -40px;}

.prop-suggest {
    width: 353px;
    border-radius: 6px;
    box-shadow: 5px 0 20px rgba(0, 0, 0, .3);
    background: #fff;
    padding: 20px;
    z-index: 1000;
    display: none;
}
.prop-suggest .ptop-logo {
    width: 70px;
    height: 70px;
    background: url(/images/logo.jpg);
    margin: 30px auto;
}

.prop-suggest textarea {
    width: 333px;
    height: 135px;
    padding: 10px;
    border: 1px solid #dedede;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 10px;
}

.prop-suggest input {
    width: 94%;
    float: left;
    padding: 12px 10px;
    line-height: 20px;
    font-size: 15px;
    border: 1px solid #e8e8e8;
    outline: 0;
    margin-bottom: 10px;
}

.prop-suggest button {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #FFF !important;
    background-color: #33ca73;
    border: 0;
    outline: 0;
    font-size: 18px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    cursor: pointer;
}
.prop-suggest .thanks{font-size:14px; color:red; margin-top:20px; display:none; border:1px solid #15b0f5; padding:5px;}

/*Table 样式*/
.tab-default{line-height:40px;background:#d7d7d7; font-size:14px; width:100%}
.tab-default th{background:#f4f4f4;}
.tab-default tr{background:#FFF;}
.tab-default tr td{ background:#FFF; text-align:center;}
.tab-default tr td a{color:#00aeff;}
.tab-default tr td a:hover{color:#333;}
.tab-default tr td select {width:90px; height:24px;border: solid 1px #dfdfdf; padding-left: 14px;}
.tab-default select, .tab-default input{    width: 70px;
    height: 22px;
    border: 1px solid #dfdfdf;
    background: #f4f4f4;
    text-align: center;}


.shade {
    width: 100%;
    height: 100%;
    position: fixed;
    background: #000;
    filter: alpha(opacity=20);
    -moz-opacity: 0.2;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    z-index: 9;
}

.st-roster {
    width: 1000px;
    position: fixed;
    top: 50%;
    left: 43%;
    background: #fff;
    margin-top: -308px;
    margin-left: -377px;
    padding: 0;
    z-index: 9999;
    border-radius: 10px;
}

.content-container {
    font-size:14px;
}

.header-wrap {
    margin:0 auto; 
}
.header-wrap .head {
    height: 70px;
    line-height: 70px;
    width:1200px;
}


.header-wrap .head .logo{ width:50px; height:50px; margin-top:10px;}
.head .left{ height:70px; line-height:70px;}
.head .left label{font-size:20px; color:#e91a53;}
.head .right a{padding:0 10px;}
.head .right a:hover{color:#15b0f5;}
.slider{ height:500px;}
.slider .pic-field{padding:50px 0;width:1200px;}

.content-wrap {background:#f4f4f4; min-height:800px;}
.content-nav{width:1200px; padding:20px 0; color:#999;}
.content-nav a:hover{color:#15b0f5;}

.content .main-content{width:1160px; background:#fff; padding:20px; min-height:600px;}


.reg{width:800px; height:500px; background:#fff; margin-top:100px; text-align:center; padding:10px;}
.reg .line{width:410px; height:45px; line-height:45px; }
.reg .title{font-size:16px; width:100px; text-align:right;}
.reg .text1{line-height:35px; height:35px; width:300px; border:1px solid rgb(169, 212, 253); padding-left:5px;}
.reg .text1:focus,.reg .text2:focus{  
    border-style:solid;  
    border-color: #03a9f4;  
    box-shadow: 0 0 15px #03a9f4;  
}
.reg .text2{line-height:35px; height:35px; width:146px; border:1px solid rgb(169, 212, 253); padding-left:5px;}
.reg .regcode img{cursor:pointer; vertical-align:middle; width:150px; height:37px; margin-left:5px;}
.reg .line .submit{background:#f75e12; color:#fff; width:100%;height:35px; line-height:35px; display:inline-block;}

.foot-wrap{width: 100%;min-width: 1000px;padding: 30px 0;overflow: hidden;background: #333;}
.foot{text-align:center; color:#e4e6ed;}