<div id="chart" style="height:500px;">

</div>

<script type="text/javascript">
    var xBarDataStr = "", yBarDataStr = "";
    var xBarData = [], yBarData = [];

    $(function () {
        xBarDataStr = '@ViewBag.xData';
        yBarDataStr = '@ViewBag.yData';

        xBarData = xBarDataStr.split(",");
        yBarData = yBarDataStr.split(",");
    })
    
    var bar = function (elem) {
        var genchart = echarts.init(document.getElementById(elem));
        var o = {
            title: {
                text: '已完成作业同学客观题答对题数报表',
                subtext: '本作业中客观题共@(ViewBag.ObjectiveCount)个'
            },
            color: ['#3398DB'],
            xAxis: {
                type: 'category',
                data: xBarData
            },
            yAxis: {
                type: 'value'
            },
            series: [{
                data: yBarData,
                type: 'bar'
            }]
        };

        genchart.setOption(o);
    }

    bar("chart");
</script>