@{
    ViewBag.Title = "易作业-作业列表";
    Layout = "~/areas/list/Views/Shared/_Layout.cshtml";
}

<style type="text/css">

    
    
</style>

<div class="content-nav">当前位置：<a href="http://easyzy.com">首页</a> > 作业列表</div>
<div class="content-title">
    <div class="page-top">
        <div class="page-nav">
            @if (ViewBag.UserId == 0)
            {
                <div class="page-func left active" data-bind="0">试用作业</div>
                
                <div class="page-func left" data-bind="1">我建的作业</div>
                <div class="page-func left" data-bind="2">我关注的老师的作业</div>
                <div class="page-func left" data-bind="3">我提交的作业</div>
            }
            else
            {
                
                <div class="page-func left active" data-bind="1">我建的作业</div>
                <div class="page-func left" data-bind="2">我关注的老师的作业</div>
                <div class="page-func left" data-bind="3">我提交的作业</div>
            }
        </div>
    </div>
</div>
<div class="content">
    <div class="main-content">
        <div class="zylist">
            <div class="zytable"></div>
            
            <div id="pager" class="zypager"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var cur_data = {
        istrial: 0,
        pageindex: 1,
        pagesize: 10
    }

    $(function () {

        if ("@ViewBag.UserId" == "0") {
            cur_data.istrial = 1;
        }
        GetData();
    })

    $(".page-nav .page-func").on("click", function () {
        if ($(this).attr("data-bind") > 0 && cur_data.istrial == 1) {
            dialogAlert("未登录/试用状态不能使用此功能！");
        }
        else {
            $(this).addClass("active").siblings().removeClass("active");
            cur_data.pageindex = 1;
            GetData();
        }
    })

    var PageClick = function (PageIndex) {
        cur_data.pageindex = PageIndex;
        GetData();
    }

    var GetData = function () {
        $(".zytable").html("<tr><td colspan='9' style='text-align: left;'><img src='/images/loader.gif'><b>正在加载……</b></td></tr>");

        var func = $(".page-nav .page-func.active").attr("data-bind");
        if (func == "0") {
            GetTrialZyData();
        }
        else if (func == "1") {
            GetMyZyData();
        }
        else if (func == "2") {
            GetRelatedUserZy();
        }
        else if (func == "3") {
            GetSubmitedZyData();
        }
    }

    //查询试用作业
    var GetTrialZyData = function () {
        $.post("/list/home/GetTrailZy",
            { pageIndex: cur_data.pageindex, pageSize: cur_data.pagesize },
            function (data) {
                $(".zytable").html(data);

                if (parseInt($("#PageCountDiv").html()) > 1) {
                    $("#pager").pager({ pagenumber: cur_data.pageindex, pagecount: $("#PageCountDiv").html(), buttonClickCallback: PageClick });
                }

                init();
            })
    }

    var GetMyZyData = function () {
        $.post("/list/home/GetMyZy",
            { pageIndex: cur_data.pageindex, pageSize: cur_data.pagesize },
            function (data) {
                $(".zytable").html(data);

                if (parseInt($("#PageCountDiv").html()) > 1) {
                    $("#pager").pager({ pagenumber: cur_data.pageindex, pagecount: $("#PageCountDiv").html(), buttonClickCallback: PageClick });
                }

                init();
            })
    }

    var GetRelatedUserZy = function () {
        $.post("/list/home/GetRelatedUserZy",
            { pageIndex: cur_data.pageindex, pageSize: cur_data.pagesize },
            function (data) {
                $(".zytable").html(data);

                if (parseInt($("#PageCountDiv").html()) > 1) {
                    $("#pager").pager({ pagenumber: cur_data.pageindex, pagecount: $("#PageCountDiv").html(), buttonClickCallback: PageClick });
                }
            })
    }

    var GetSubmitedZyData = function () {
        $.post("/list/home/GetSubmitedZy",
            { pageIndex: cur_data.pageindex, pageSize: cur_data.pagesize },
            function (data) {
                $(".zytable").html(data);

                if (parseInt($("#PageCountDiv").html()) > 1) {
                    $("#pager").pager({ pagenumber: cur_data.pageindex, pagecount: $("#PageCountDiv").html(), buttonClickCallback: PageClick });
                }
            })
    }

    var init = function () {
        var closezyid = 0;
        var deletezyid = 0;

        $(".closezy").on("click", function () {
            closezyid = $(this).attr("data-bind");
            dialogConfirm("关闭后学生可以打开作业但是无法提交。<br/>确认要关闭作业吗？", CloseOK, "")
        })

        var CloseOK = function () {
            $.post("/list/common/CloseZy",
                { zyId: closezyid },
                function (data) {
                    if (data.code == "0") {
                        $("tr[data-bind='" + closezyid + "']").find(".zystatus").html("已关闭")
                    }
                    else {
                        dialogAlert(data.message);
                    }
                })
        }

        $(".deletezy").on("click", function () {
            deletezyid = $(this).attr("data-bind");
            dialogConfirm("删除后学生将无法打开作业。<br/>确认要删除作业吗？", DeleteOK, "")
        })

        var DeleteOK = function () {
            $.post("/list/common/DeleteZy",
                { zyId: deletezyid },
                function (data) {
                    if (data.code == "0") {
                        $("tr[data-bind='" + deletezyid + "']").find(".zystatus").html("已删除")
                    }
                    else {
                        dialogAlert(data.message);
                    }
                })
        }
    }
</script>