@{
    ViewBag.Title = "易作业-随用随走的作业助手";
    ViewBag.Keywords = "作业工具，好用的作业工具，随用随走的作业助手";
    ViewBag.Description = "易作业；简单、易用、随用随走的作业助手；简单的作业工具；好用的作业工具";
}

<div class="slider">
    <div class="pic-field">
        <img src="/Images/boshimao.png" width="400" />
    </div>
</div>
<div class="content">
    <div class="func-field">
        <div class="func left">
            <a href="/zy/add"><img src="/Images/createzy.jpg" /></a>
            <p class="funcname">新建作业</p>
            <p>教师通过word上传作业，生成一个作业编码</p>
        </div>
        <div class="func left">
            <a href="/zy/add"><img src="/Images/createzy.jpg" /></a>
            <p class="funcname">查看作业</p>
            <p>通过作业编码，查看/提交作业</p>
        </div>
        <div class="func left">
            <a href="/zy/add"><img src="/Images/createzy.jpg" /></a>
            <p class="funcname">大家说</p>
            <p>有问题，随时寻求帮助</p>
        </div>
    </div>
</div>


