
@{
    ViewBag.Title = "易作业论坛-登录提示";
}
<div class="container clearfix" style="width:1200px;">
    <!--主内容-->
    <div class="main-content">
        <h2>
            此功能需登录后才能使用，<br />
            如需登录/注册，请点击<a href="http://local.user.easyzy.com?from=@(ViewBag.From)">登录/注册</a><br />
            如需返回，请点击<a href="@ViewBag.From">返回</a>
        </h2>
    </div>
</div>