
@{
    ViewBag.Title = "易作业-个人中心";
}

<div class="content-nav">当前位置：<a href="http://easyzy.com">首页</a> > 个人中心</div>
<div class="content">
    <div class="main-content">
        <div class="personal-funcs">
            <ul>
                <li><a href="javascript:void(0);" class="userinfo active">个人信息</a></li>
                <li><a href="javascript:void(0);" class="requestmodify">修改请求</a></li>
                <li><a href="javascript:void(0);" class="myrelation">我的关注</a></li>
                <li><a href="javascript:void(0);" class="relateme">关注了我</a></li>
                <li><a href="javascript:void(0);" class="myclassmates" style="border-bottom:none;">本班同学</a></li>
            </ul>
        </div>
        <div class="personal-info">

        </div>
    </div>
</div>

@section scriptfirst
{
    <script type="text/javascript" src="/Scripts/jquery.placeholder.min.js"></script>
}

<script type="text/javascript">
    $(function () {
        GetUserInfo();
    })

    $(".userinfo").on("click", function () {
        $(this).addClass("active").parent("li").siblings().find("a").removeClass("active");
        GetUserInfo();
    })

    var GetUserInfo = function () {
        $(".personal-info").html("<div class='loading' style='text-align:center; padding-top:50px;'><img style='vertical-align: middle;' src='/images/loader.gif'><b>正在查询中……</b></div>");
        $.post("/personal/GetUserInfo",
            {},
            function (data) {
                $(".personal-info").html(data);
            })
    }

    $(".requestmodify").on("click", function () {
        RequestModify();
    })

    var RequestModify = function () {
        $(".requestmodify").addClass("active").parent("li").siblings().find("a").removeClass("active");
        $.post("/personal/RequestModify",
            {  },
            function (data) {
                $(".personal-info").html(data);
            })
    }

    $(".myrelation").on("click", function () {
        MyRelation();
    })

    var MyRelation = function () {
        $(".myrelation").addClass("active").parent("li").siblings().find("a").removeClass("active");
        $.post("/personal/MyRelation",
            {},
            function (data) {
                $(".personal-info").html(data);
            })
    }

    $(".relateme").on("click", function () {
        RelateMe();
    })

    var RelateMe = function () {
        $(".relateme").addClass("active").parent("li").siblings().find("a").removeClass("active");
        $.post("/personal/RelateMe",
            {},
            function (data) {
                $(".personal-info").html(data);
            })
    }

    $(".myclassmates").on("click", function () {
        MyClassmates();
    })

    var MyClassmates = function () {
        $(".myclassmates").addClass("active").parent("li").siblings().find("a").removeClass("active");
        $.post("/personal/MyClassmates",
            {},
            function (data) {
                $(".personal-info").html(data);
            })
    }
</script>
