body{margin:0 auto;}
a{color:#000;text-decoration:none}
a:focus{outline:none;}
a:hover{text-decoration:none;}
li{list-style-type:none;}
.left{float:left;}
.right{float:right;}
.f1{float:left; margin-left:10px;}
.r1{float:right; margin-right:10px;}
/*Table 样式*/
.tab-default{line-height:40px;background:#d7d7d7; font-size:14px; width:100%}
.tab-default th{background:#f4f4f4;}
.tab-default tr{background:#FFF;}
.tab-default tr td{ background:#FFF; text-align:center;}
.tab-default tr td a{color:#00aeff;}
.tab-default tr td a:hover{color:#333;}
.tab-default tr td select {width:90px; height:24px;border: solid 1px #dfdfdf; padding-left: 14px;}
.tab-default select, .tab-default input{    width: 70px;
    height: 22px;
    border: 1px solid #dfdfdf;
    background: #f4f4f4;
    text-align: center;}

.head{background:#b61924; height:50px; color:#ffffff; line-height:50px;}
.head .logo{width:50px; height:50px;}
.head .head-title{float:left;margin-left:100px;}
.head .white-line{border-bottom:1px solid #ffffff; width:30px; height:10px;}
.head .top-funcs-pic{padding:5px 10px; height:40px;}
.head .top-funcs{display:none; background:#b61924; line-height:40px;position:absolute; font-size:14px;text-align:center;}
.head .top-funcs a{color:#ffffff; padding:5px 11px; }
.head .top-funcs.active{display:block;}
.head .top-funcs .func{border-bottom:1px dashed #ffffff;}
.content-wrap{padding:10px 10px; clear:both;}
.content-wrap .gn{text-align:center; padding:45px 0; cursor:pointer;}
.content-wrap .gn a{color:#ffffff;}
a.btn{border: 0;
    border-radius: 5px;
    cursor: pointer;
    background:royalblue;
    padding: 5px 20px;
    color:#fff;
    margin-left:10px;
}
a.chart{color:#e91a53; font-weight:bold; width:30px; height:30px; line-height:30px; background:url("/Images/ico_chart.png") no-repeat 0 0; padding-left:30px; font-size:14px;}
.tcenter{text-align:center;}
.zyopen{margin-top:20px;}
.bottom-shard{width:100%; position: fixed;
    background: #000;
    filter: alpha(opacity=20);
    -moz-opacity: 0.2;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    z-index: 9;
    bottom:0;
    color:#ffffff;
}
.bottom-shard a{color:#ffffff;}
.bottom-shard.answercard, .bottom-shard.piccard, .bottom-shard.submit{height:100px; overflow:auto; display:none;}
.bottom-shard.write{
    width:100%;
    
    padding:5px;
    color:#ffffff;
}
.bottom-shard.write .tcenter{width:33%; border-right:1px solid #ffffff;}
.rdo{background:url("/Images/radio.png") no-repeat; padding-left:18px; cursor:pointer;}
.rdo.choose{ background-position: 3px -28px;}
.rdo.unchoose{ background-position: 3px 3px;}
.chk{background:url("/Images/checkbox.png") no-repeat; padding-left:23px; cursor:pointer;}
.chk.choose{background-position: 0 -68px;}
.chk.unchoose{background-position: 0 1px;}
.objective{padding-right:6px;}
.objective b{color:red;}
.bottom-shard.submit .func{margin-top:30px; text-align:center;}
.table{margin-top:10px;}
.neck{height:30px; line-height:30px;background:#f4f4f4;padding-bottom:10px; }
.neckcontent{text-align:center; background:#FFF; height:30px; font-size:14px;}
.ulogin{border-bottom:1px solid #ff6a00; width:80%; height:30px; margin:0 auto;}
.uinput{border:none;width:100%; height:25px;outline: 0; padding-left:20px;}
.ubtn{width:80%; height:30px; line-height:30px; margin:0 auto; margin-top:40px;background:#ff6a00; color:#ffffff;text-align:center; border-radius: 5px; -webkit-border-radius: 5px;-moz-border-radius: 5px;cursor: pointer;}