<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/Content/css.css?v=20171107" />
    <link href="/Scripts/artDialog/css/ui-dialog.css" rel="stylesheet" />
    <script type="text/javascript" src="/Scripts/jquery-1.10.2.min.js"></script>
    <script src="/Scripts/artDialog/dialog.js"></script>
</head>
<body>
    <div class="content-container">
        <div class="wrap">
            <div class="header-wrap">
                <div class="head">
                    <div class="left">
                        <a href="/home"><img src="~/Images/easyzy.png" class="logo" /></a>
                        
                    </div>
                    <div class="right">
                        <a >注册</a> | <a>登录</a>
                    </div>
                </div>
            </div>
            <div class="content-wrap">
                @RenderBody()
            </div>
            <div class="foot-wrap">
                <div class="foot">
                    <p>&copy; @DateTime.Now.Year - 易作业 | 简单、易用、随用随走</p>
                    
                </div>
            </div>
        </div>
    </div>
</body>
</html>
