*{margin:0 auto;padding:0px;font-family:"Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",SimHei,sans-serif}
a{color:#000;text-decoration:none}
a:focus{outline:none}
a:hover{text-decoration:none}
p{margin:0;}
img{vertical-align:middle;}
li{list-style-type:none}
.left{float:left}
.right{float:right}
.f1{float:left;margin-left:20px}
.tleft{text-align:left}
.tright{text-align:right}
.font-yahei{font-family:"Microsoft YaHei"}
a.btn{border:0;border-radius:5px;cursor:pointer;background:royalblue;padding:5px 20px;color:#fff}
.tab-default{line-height:40px;background:#d7d7d7;font-size:14px;width:100%}
.tab-default th{background:#f4f4f4}
.tab-default tr{background:#FFF}
.tab-default tr td{background:#FFF;padding:5px 10px;text-align:center}
.tab-default tr td.tleft{text-align:left}
.tab-default tr td.tright{text-align:right}
.tab-default tr td a{color:#00aeff}
.tab-default tr td a:hover{color:#333}
.tab-default tr td select{width:90px;height:24px;border:solid 1px #dfdfdf;padding-left:14px}
.tab-default select,.tab-default input{width:70px;height:22px;border:1px solid #dfdfdf;background:#f4f4f4}
.fixed{position:fixed;top:500px;right:250px}
.topfixed{position:fixed;right:20px;bottom:200px;width:50px}
.topfixed li{color:#fff;border-radius:2px;margin-bottom:3px;cursor:pointer;position:relative}
.topfixed .text{background-color:#f75e12;width:30px;height:40px;font-size:14px;padding:5px 10px;text-align:center;vertical-align:middle;position:absolute;top:0;left:0;display:none}
.topfixed .text a{text-decoration:none;color:#ffffff}
.topfixed li:hover .text{display:block}
.topfixed .icon{background:url("/Images/icon_bg.png");background-color:#dfdfdf;height:50px;width:50px;display:block}
.topfixed .icon-suggest{background-position:-490px -88px}
.topfixed .icon-qq{background-position:-490px -40px}
.prop-suggest{width:353px;border-radius:6px;box-shadow:5px 0 20px rgba(0,0,0,.3);background:#fff;padding:20px;z-index:1000;display:none}
.prop-suggest .ptop-logo{width:70px;height:70px;background:url(/images/logo.jpg);margin:30px auto}
.prop-suggest textarea{width:333px;height:135px;padding:10px;border:1px solid #dedede;line-height:24px;font-size:14px;margin-bottom:10px}
.prop-suggest input{width:94%;float:left;padding:12px 10px;line-height:20px;font-size:15px;border:1px solid #e8e8e8;outline:0;margin-bottom:10px}
.prop-suggest button{display:block;width:100%;height:40px;line-height:40px;text-align:center;color:#FFF !important;background-color:#33ca73;border:0;outline:0;font-size:18px;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;cursor:pointer}
.prop-suggest .thanks{font-size:14px;color:red;margin-top:20px;display:none;border:1px solid royalblue;padding:5px}
.shade{width:100%;height:100%;position:fixed;background:#000;filter:alpha(opacity=20);-moz-opacity:0.2;-khtml-opacity:0.5;opacity:0.5;z-index:9}
.st-roster{width:1000px;position:fixed;top:50%;left:43%;background:#fff;margin-top:-308px;margin-left:-377px;padding:0;z-index:9999;border-radius:10px}
.content-container{font-size:14px}
.header-wrap{margin:0 auto}
.header-wrap .head{height:70px;line-height:70px;width:1200px}
.header-wrap .head .logo{width:50px;height:50px;margin-top:10px}
.head .logoarea{height:70px;line-height:70px}
.head .logoarea label{font-size:18px;color:#333;}
.head .right a{padding:0 10px}
.head .right a:hover{color:red}
.head .right .facepic{background:url("/Images/ico.png");display:inline-block;width:50px;height:50px;background-position:0 -93px;margin:10px}
.head .right .uinfo{width:110px;height:20px;margin-top:30px;cursor:pointer}
.head .uinfo b{width:90px;height:20px;line-height:20px;font-size:16px; text-overflow:ellipsis;white-space:nowrap;overflow:hidden}
.head .uinfo i{background:url(/Images/arrow.png)no-repeat;background-position:0 -2px;width:20px;height:20px}
.head .uprop{position:absolute;z-index:99;display:none}
.head .uprop ul{margin-bottom:0}
.head .uprop li{border-bottom:1px dashed #ccc;height:40px;line-height:40px;background:#00aeff;cursor:pointer}
.head .uprop li a{color:#fff;padding:10px 26px}
.head .navigate{padding-top:1px; padding-left:50px; font-size:18px;}
.head .navigate a{padding:5px 10px; color:#333;}
.head .navigate a:hover{color:#e91a53}
.topnav{height:40px; background:#e91a53; line-height:40px;color:#fff; margin-top:10px;}
.topnav-list{width:1200px; margin:auto;}
.topnav .notice{float:left; }
.topnav .notice img{width:20px; height:20px; vertical-align:middle;}
.topnva ul{float:right;}
.topnav ul li{float:right; margin-left:20px;}
.topnav li a{color:#fff;}
.popclose,.closesuggest{position:relative;top:-35px;right:-22px;float:right;cursor:pointer}
.slider{height:500px}
.slider .pic-field{padding:50px 0;width:1200px}
.content-wrap{background:#f4f4f4;min-height:800px}
.content-nav{width:1200px;padding:20px 0;color:#999}
.content-nav a:hover{color:royalblue}
.content .func-field{padding:50px 50px;height:250px}
.content .func-field .func{width:300px;margin-left:30px}
.content .func-field .func img{width:300px}
.content .func-field .func p{padding:5px 0;text-align:center}
.content .func-field .func p.funcname{font-size:18px}
.content .main-content{width:1160px;background:#fff;padding:20px;min-height:600px}
.reg{width:800px;height:500px;background:#fff;text-align:center;padding:50px 10px}
.reg .line{width:393px;height:45px;line-height:55px;clear:both}
.reg .line .msg{color:red;font-size:8px;line-height:0;display:none;text-align:left}
.reg .regtip{border-bottom:2px solid #288ff2;color:#288ff2;float:left;width:142px}
.reg .regtip label{background:url("/Images/icon-reg.png") no-repeat;width:100px;padding-left:27px}
.reg .logintip{float:right;width:250px;border-bottom:1px solid #dfdfdf;font-size:14px;text-align:right}
.reg .logintip a{color:#288ff2}
.reg .title{font-size:16px;width:85px;text-align:right}
.reg .text1{line-height:35px;height:35px;width:300px;border:1px solid rgb(169,212,253);padding-left:5px}
.reg .text1:focus,.reg .text2:focus{border-style:solid;border-color:#03a9f4;box-shadow:0 0 15px #03a9f4}
.reg .text2{line-height:35px;height:35px;width:146px;border:1px solid rgb(169,212,253);padding-left:5px}
.reg .regcode img{cursor:pointer;vertical-align:middle;width:150px;height:37px;margin-left:5px}
.reg .line .submit{background:#f75e12;color:#fff;width:310px;height:35px;line-height:35px;display:inline-block;margin-top:10px}
.reg .line .help{font-size:12px;color:#333}
.reg .line .help.rempsd{margin-left:84px;background:url("/Images/checkbox.png") no-repeat;padding-left:22px;float:left}
.reg .line .help.unchoose{background-position:1px 19px}
.reg .line .help.choose{background-position:1px -49px}
.personal-funcs{width:18%;float:left;background:#f4f4f4;border:1px solid #e7e7e7}
.personal-funcs li a{display:inline-block;text-align:center;width:100%;padding:20px 0;border-bottom:1px dashed #a19999;font-size:16px}
.personal-funcs li a:hover{color:royalblue}
.personal-funcs .active{color:royalblue}
.personal-info{width:75%;float:left;margin-left:10px}
.tab-default .icoedit{width:30px;height:30px;background:url("/Images/v3-bg.png") no-repeat 0 -8px;padding-left:20px}
.tab-default .icoedit.save{background-position:-31px -8px}
.tab-default .icoapply{width:30px;height:30px;background:url("/Images/icon_bg.png") no-repeat -51px -261px;padding-left:20px}
.tab-default td .cedit{font-size:14px;color:red}
.tab-default .classinfo{width:180px}
.tab-default .relate{width:80%}
.tab-default .relate .del{padding-left:17px;background:url("/Images/v3-bg.png") no-repeat -30px -71px;margin-right:20px}
.tab-default .icoadd{width:30px;height:30px;background:url("/Images/icon-reg.png") no-repeat;padding-left:20px}
.tab-default .berelated .ql{margin-right:20px}
.queryrelate{text-align:center;padding:10px 0 20px 0}
.queryrelate input{height:25px;width:250px}
.queryrelate .btn{margin-left:20px}
.foot-wrap{width:100%;min-width:1000px;padding:30px 0;overflow:hidden;background:#333}
.foot{text-align:center;color:#e4e6ed}
.foot p{line-height:30px;}
.tpanal .tselect{border-bottom:1px solid royalblue;}
.tpanal .tselect .tselect_tip{padding-left:14px; }
.tpanal .panal_title{color:#ff0000; background:url('/Images/gantanhao.png') no-repeat 3px; padding-left: 22px;}
.tpanal .short{width: 70px; }
.tpanal .long{width: 150px; }