@{
    ViewBag.Title = "师生论坛-新增话题";
}
<style type="text/css">
    .add-topic{position:relative;}
    .suggests {display:none; position:absolute; color:#000000; border-top: 1px solid #e3e3e3; border-left: 1px solid #e3e3e3; border-right: 1px solid #e3e3e3; background:#ffffff; max-height:250px; overflow-y:scroll; }
    .suggests ul{margin:0;}
    .suggests li{cursor:pointer; width:200px; padding: 5px 10px; border-bottom:1px solid #e3e3e3;}
    .suggests li:hover{background:#316dfa; color:#ffffff;}

</style>
<script src="/scripts/jquery.placeholder.min.js" type="text/javascript"></script>
<script src="/scripts/kindeditor/kindeditor-min.js" charset="utf-8" type="text/javascript"></script>
<script src="~/Scripts/jquery.caret.js" type="text/javascript"></script>

<div class="container clearfix" style="width:1200px;">
    <!--主内容-->
    <div class="main-content" style="margin-top:50px;">
        <div class="table-con">
            <table class="table-1 add-topic">
                <tr>
                    <td class="td-1">邀请回复</td>
                    <td class="td-2">
                        <input id="invites" name="invites" class="txt" type="text" placeholder="想邀请谁回答请@他，最多5人（老版本的IE浏览器不支持此功能）" oninput="GetSuggest();" onkeydown="return(keyd());" />
                        <div class="suggests">
                            <ul></ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="td-1">标题</td>
                    <td class="td-2"><input id="title" name="title" class="txt" type="text" /></td>
                </tr>
                <tr>
                    <td class="td-1">内容</td>
                    <td class="td-2"><textarea id="topic" name="topic"></textarea></td>
                </tr>
                <tr>
                    <td class="td-1">标签</td>
                    <td class="td-2">
                        年级：
                        <select id="GradeSelecter" style="width:100px; margin-top:10px;">
                            <option value="0"></option>
                            @foreach (var g in ViewBag.Grades)
                            {
                                <option value="@g.Key">@g.Value</option>
                            }
                        </select> 
                        学科：
                        <select id="SubjectSelecter" style="width:100px; margin-top:10px;">
                            <option value="0"></option>
                            @foreach (var s in ViewBag.Subjects)
                            {
                                <option value="@s.Key">@s.Value</option>
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="td-2" colspan="2" style="text-align:center;"><input class="btn submit" type="button" value="提交" /></td>
                </tr>
            </table>
        </div>
        
    </div>
</div>

<script type="text/javascript">

    var editor1;
    KindEditor.ready(function (K) {
        editor1 = K.create('#topic', {
            cssPath: '/scripts/kindeditor/plugins/code/prettify.css',
            uploadJson: '/scripts/kindeditor/upload_picture.ashx',
            fileManagerJson: '/scripts/kindeditor/file_manager_json.ashx',
            allowFileManager: true
        });
        //prettyPrint();
    });

    $(function () {
        $('input').placeholder();
    });

    var keyd = function () {
        if ($("#invites").val().split(" ").length >= 5 && event.keyCode != 8) return false;
        return true;
    }
    

    var GetSuggest = function () {
        var value = $("#invites").val();
        var invites = value.substring(value.lastIndexOf(" ") + 1);
        if (invites == " " || invites == "") {
            $(".suggests").hide();
        }
        if (invites == "@@") {
            var ca = $("#invites").caret('offset');
            var l = ca.left - 370 + "px", h = ca.top - 90 + "px";
            $(".suggests").css("left", l).css("top", h);
            $(".suggests ul").html("<li data-bind=''> 无 </li>");
            $(".suggests").show();
            return false;
        }
        if (invites.length > 0 && invites.substring(0, 1) == "@@") {
            var inv = invites.substring(1);
            var html = "";
            $.ajax({
                type: "post",
                url: "GetSuggests",
                data: { invites: inv },
                async: false,
                success: function (data) {
                    if (data.length > 0) {
                        for (var i = 0; i < data.length; i++) {
                            html += "<li data-bind='" + data[i].UserName + "'>" + data[i].UserName + "【" + data[i].TrueName + "】</li>";
                        }
                    }
                    else {
                        html += "<li data-bind=''> 无 </li>";
                    }
                    
                    $(".suggests").show();
                    $(".suggests ul").html(html);
                    $(".suggests li").on("click", function () {
                        iniSuggestClick($(this));
                    })
                },
                error: function (data) {

                }
            });
        }
    }

    var iniSuggestClick = function (t) {
        if (t.attr("data-bind") == "") return false;
        var UserName = t.attr("data-bind");
        var value = $("#invites").val();
        value = value.substring(0, value.lastIndexOf(" ") + 1) + UserName + " ";
        $("#invites").val(value);
        $("#invites").focus();
        $(".suggests").hide();
    }

    function check() {
        var Title = $("#title").val();
        if (Title.length > 50) {
            dialogAlert("标题不能超过50个字！")
            return false;
        }
        else if (trim(Title).length == 0) {
            dialogAlert("标题不能为空！")
            return false;
        }

        var Topic = editor1.html();
        if (Topic.length > 8000) {
            dialogAlert("内容太长了！")
            return false;
        }
        return true;
    }

    $(".submit").on("click", function () {
        if (check()) {
            var Invites = $("#invites").val();

            var Title = $("#title").val();
            var Topic = editor1.html();
            var TopicText = editor1.text();
            
            Topic = encodeURI(Topic);
            TopicText = encodeURI(TopicText);

            var GradeId = $("#GradeSelecter").val();
            var SubjectId = $("#SubjectSelecter").val();

            $.post("AddTopic",
                { invites: Invites, title: Title, topic: Topic, topicText: TopicText, gradeId: GradeId, subjectId: SubjectId },
                function (data) {
                    if (data.status != 0) {
                        dialogAlert(data.message);
                    }
                    else {
                        window.location.href = "list";
                    }
                })
        }
    })

</script>