@{
    ViewBag.Title = "师生论坛";
}

<!-- Start of Page Container -->
<div class="page-container">
    <div class="container">
        <div class="row">
            <!-- start of page content -->
            <div class="span8 main-listing">
                <div class="invites"></div>
                <div id="pager" class="zypager"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/scripts/jquery.cookie.js"></script>
<script type="text/javascript">
    $(function () {
        GetInvites();
    })

    var GetInvites = function () {
        $(".invites").html("<div class='watting'><img src='/images/waitting.gif' />正在加载中...</div>")
        $.post("/topic/GetInvites",
            {  },
            function (data) {
                $(".invites").html(data);
            })
    }
</script>