@{ 
    ViewBag.Title = "师生论坛";
}

<!-- End of Header -->
<!-- Start of Search Wrapper -->
<div class="search-area-wrapper">
    <div class="search-area container">
        @*<h3 class="search-header">Have a Question?</h3>
        <p class="search-tag-line">&nbsp;</p>

        <form id="search-form" class="search-form clearfix" method="get" action="#" autocomplete="off">
            <input class="search-term required" type="text" id="s" name="s" placeholder="搜索功能 暂未开放" title="" />
            <input class="search-btn" type="submit" value="搜索" />
            <div id="search-error-container"></div>
        </form>*@
        <div class="search-condition search-grade">
            年级：
            <a data-bind="0">全部</a>
            @foreach (var g in ViewBag.AllGrades)
            {
            <a data-bind="@g.Key">@g.Value</a>
            }
        </div>
        <div class="search-condition search-subject">
            学科：
            <a data-bind="0">全部</a>
            @foreach (var g in ViewBag.AllSubjects)
            {
            <a data-bind="@g.Key">@g.Value</a>
            }
        </div>
    </div>
</div>
<!-- End of Search Wrapper -->
<!-- Start of Page Container -->
<div class="page-container">
    <div class="container">
        <div class="row">
            <!-- start of page content -->
            <div class="span8 main-listing">
                <div class="topics"></div>
                <div id="pager" class="zypager"></div>
            </div>
            
            <!-- end of page content -->
            <!-- start of sidebar -->
            <aside class="span4 page-sidebar">
                <section>
                    <div class="add-topic"><a href="topic/add">我要发帖</a></div>
                </section>
                <section class="widget">
                    <div class="support-widget">
                        <h2 class="title">三年级 英语</h2>
                        <h3 class="title">本周最佳 王大拿</h3>
                        <p style="margin: 0 0 10px;">江苏省沭阳高级中学 高一 18班</p>
                        <p class="intro">发帖：10 回复：20 被赞：100</p>

                    </div>
                </section>

                <section class="widget">
                    <h3 class="title">本周活跃榜</h3>
                    <ul class="activities">
                        
                    </ul>
                </section>

                <section class="widget">
                    <h3 class="title">本周热门话题</h3>
                    <ul class="articles hottopics">
                        @*<li class="article-entry">
                            <h4><a href="single.html">母猪的产后护理</a></h4>
                            <span class="date">25 Feb, 2013 by 赵本山</span>
                            <span class="like-count">66</span>
                        </li>
                        <li class="article-entry">
                            <h4><a href="single.html">萨达姆已经做好了准备</a></h4>
                            <span class="date">24 Feb, 2013 by 小沈阳</span>
                            <span class="like-count">15</span>
                        </li>
                        <li class="article-entry">
                            <h4><a href="single.html">1+1在什么情况下可以等于3</a></h4>
                            <span class="date">23 Feb, 2013 by 刘能</span>
                            <span class="like-count">8</span>
                        </li>
                        <li class="article-entry">
                            <h4><a href="single.html">WordPress in Your Language</a></h4>
                            <span class="date">22 Feb, 2013 by 赵四</span>
                            <span class="like-count">6</span>
                        </li>*@
                    </ul>
                </section>

                <section class="widget">
                    <h3 class="title">消息公告</h3>
                    <ul id="recentcomments">
                        <li class="recentcomments"><a href="#" rel="external nofollow" class="url">谢谢使用！</a></li>
                    </ul>
                </section>

            </aside>
            <!-- end of sidebar -->
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        GetTopics();
        GetTop5Activities();
        GetTop5Topics();
    })

    var cur_data = {
        pageindex : 1,
        pagesize : 10,
        gradeid : 0,
        subjectid : 0
    }
    
    var PageClick = function(PageIndex) {
        cur_data.pageindex = PageIndex;
        GetTopics();
    }

    var GetTopics = function () {
        $(".topics").html("<div class='watting'><img src='/images/waitting.gif' />正在加载中...</div>")
        $.post("/topic/gettopics",
            { gradeId: cur_data.gradeid, subjectId: cur_data.subjectid, pageIndex: cur_data.pageindex, pageSize: cur_data.pagesize },
            function (data) {
                $(".topics").html(data);
                if (parseInt($("#PageCountDiv").html()) > 1) {
                    $("#pager").pager({ pagenumber: cur_data.pageindex, pagecount: $("#PageCountDiv").html(), buttonClickCallback: PageClick });
                }
            })
    }

    var GetTop5Activities = function () {
        $.post("/topic/GetTop5Activities",
            {},
            function (data) {
                var html = "";
                for (var i = 0; i < data.length; i++) {
                    html += "<li><a href='#'>" + data[i].key + "</a><a href='#' class='right'>" + data[i].value + "</a></li>";
                }
                $(".activities").html(html);
            })
    }

    var GetTop5Topics = function () {
        $.post("/topic/GetTop5Topics",
            {},
            function (data) {
                var html = "";
                for (var i = 0; i < data.length; i++) {
                    html += "<li class='article-entry'><h4><a href='/topic/detail?id=" + data[i].Id + "'>" + data[i].Title + "</a></h4><span class='date'>" + data[i].CreateDate + " by " + data[i].UserName + "【" + data[i].TrueName + "】</span><span class='comments'>" + data[i].ReplyCount + "</span></li>";
                }
                $(".hottopics").html(html);
            })
    }
</script>