<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <meta name="keywords" content="易作业,easy作业,Word上传作业,文件作业,文件上传作业,自传作业,新建作业,线上作业,作业详情,收费作业,无需注册,免费,作业平台,上传作业图片">
    <meta name="description" content="易作业，使用文档上传作业，线上布置，线上完成作业，简单、方便，无需登录即可体验，登录后更可解锁更多功能！">
    <link rel="stylesheet" href="/Content/css.css?v=20171107" />
    <link rel="stylesheet" href="/Content/viewer.min.css" />
    <link href="/Scripts/artDialog/css/ui-dialog.css" rel="stylesheet" />
    <script src="/Scripts/jquery-1.10.2.min.js"></script>
    <script src="/Scripts/artDialog/dialog.js"></script>
    <script type="text/javascript" src="/Scripts/viewer-jquery.min.js"></script>
    <script src="/Scripts/m.easyzy.common.js"></script>
    @RenderSection("scriptfirst", false)
</head>
<body>
    <div class="content-container">
        <div class="head">
            <div class="left">
                <img src="~/Images/logo.jpg" class="logo left" />
            </div>
            <div class="head-title">易作业（@(ViewBag.UserInfo == null?"未登录":ViewBag.UserInfo.UserName)）</div>
            <div class="right">
                <div class="top-funcs-pic">
                    <div class="white-line"></div>
                    <div class="white-line"></div>
                    <div class="white-line"></div>
                </div>
                @if (ViewBag.UserInfo != null)
                {
                    <div class="top-funcs">
                        <div><a href="javascript:void(0);" class="exit">退出</a></div>
                    </div>
                }
                else
                {
                    <div class="top-funcs">
                        <div><a href="login">登录</a></div>
                    </div>
                }
            </div>
        </div>
        <div class="neck">
            <div class="neckcontent">
                <a href="javascript:history.back(-1)" class="f1"><img src="/Images/run-back.png" width="30" height="30" /></a>
                <label class="funcname"></label>
                <a href="http://easyzy.com#fromapp" class="r1">电脑版</a>
            </div>
        </div>
        <div class="content">
            @RenderBody()
            @RenderSection("scripts", false)
        </div>
    </div>
</body>
</html>
