<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>易作业-用户体系首页</title>
    <link rel="stylesheet" href="/Content/css.css?v=20171107" />
</head>
<body>
    <div class="content">
        <div class="content-wrap">
            <div class="main-content">易作业用户体系首页</div>
        </div>
        <div class="foot-wrap">
            <div class="foot">
                <p>&copy; @DateTime.Now.Year - 易作业 | 简单、易用、随用随走</p>

            </div>
        </div>
    </div>
</body>
</html>
