@{
    ViewBag.Title = "易作业移动端-首页";
}
<div class="content-wrap">
    <div class="left" style="width:50%; ">
        <div style="background:#ff6a00;" class="gn"><a href="open">做作业</a></div>
        <div style="background:#0bc1bb;" class="gn"><a href="query">查看作业</a></div>
    </div>
    <div class="left" style="width:50%; ">
        <div style="background:#b200ff;" class="gn"><a href="down">已做作业</a></div>
        <div style="background:#ff006e;" class="gn"><a href="created">已建作业</a></div>
    </div>
    
</div>

<script type="text/javascript">
    $(function () {
        $(".neckcontent").hide();
    })
</script>