
@{
    ViewBag.Title = "易作业移动端-查看作业";
}

<div class="content-wrap">
    <div class="tcenter">
        <input type="text" id="zyNum" style="width:200px; height:20px;" value="@ViewBag.ZyNum" /><a class="btn" onclick="query();">查询</a><a class="chart" style="margin-left:20px;" href="javascript:void(0);">作业分析</a>
    </div>
    <div class="table">
        <table border="0" cellspacing="1" cellpadding="0" class="tab-default">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>姓名</th>
                    <th>提交时间</th>
                    <th>客观题正确率</th>
                    <th>查看</th>
                </tr>
            </thead>
            <tbody id="tbody"></tbody>
        </table>
    </div>
</div>

<div class="bottom"></div>

<script type="text/javascript">
    $(function () {
        if (cur_data.DefaultZyNum != "") {
            query();
        }
        $(".neckcontent .funcname").html("查看作业");
    })

    var cur_data = {
        DefaultZyNum: '@ViewBag.ZyNum',
        UploadUrl: '@ViewBag.UploadUrl',
        ZyNumQueried: 0,
        BodyHtml: "",
        AnswerHtml: "",
        TrueName: '',
        QueryMsg: ""
    }

    $(".content-wrap").on("click", function (e) {
        var tagobj = e.srcElement ? e.srcElement.nodeName : e.target.tagName;
        if (tagobj != "A") {
            $(".bottom").hide();
        }
    })

    //查询
    var query = function () {
        var zyNum = $("#zyNum").val();
        if (zyNum == "") return false;
        $("#tbody").html("");
        //检查是否有密码
        $.ajax({
            url: "NeedZyPsd",
            type: "post",
            async: false,
            data: { zyNum: zyNum },
            success: function (json) {
                if (json == "0") {
                    $.post("querysubmitedstudents",
                        { zyNum: zyNum },
                        function (data) {
                            cur_data.ZyNumQueried = zyNum;
                            $("#tbody").html(data);
                        })
                }
                else {
                    var d = dialog({
                        title: '提示',
                        content: '需要提供密码来查询作业：<input id="zyPsd" />',
                        okValue: '确定',
                        ok: function () {
                            var zypsd = trim($("#zyPsd").val());
                            if (zypsd == "") return false;
                            var b = false;
                            $.ajax({
                                url: "CheckZyPsd",
                                type: "post",
                                async: false,
                                data: { zyNum: zyNum, zyPsd: zypsd },
                                success: function (json) {
                                    if (json.substring(0, 1) == "0") {
                                        b = true;
                                    }
                                }
                            })
                            if (!b) {
                                this.title('密码错误！');
                                return false;
                            }
                            else {
                                $.post("querysubmitedstudents",
                                    { zyNum: zyNum },
                                    function (data) {
                                        cur_data.ZyNumQueried = zyNum;
                                        $("#tbody").html(data);
                                    })
                            }
                        },
                        cancelValue: '取消',
                        cancel: function () { }
                    });
                    d.showModal();
                }
            }
        })
    }

    var check = function (truename, type) {
        $(".bottom").show();
        if (cur_data.TrueName == truename)
        {
            showsmt(type);
        }
        else
        {
            $.post("GetStudentAnswerCard",
                { zyNum: cur_data.ZyNumQueried, trueName: truename },
                function (data) {
                    cur_data.TrueName = truename;
                    $(".bottom").html(data);
                    showsmt(type);
                })
        }
    }

    var showsmt = function (type) {
        if (type == 0) {
            $(".answercard").show();
            $(".piccard").hide();
        }
        else {
            $(".answercard").hide();
            $(".piccard").show();
            $("#imglistul").viewer({
                url: 'data-original'
            });
        }
    }

    $(".chart").on("click", function () {
        if (cur_data.ZyNumQueried == 0) return false;
        
        window.location.href = "zychart?zynum=" + cur_data.ZyNumQueried;
    })
</script>