* {
    margin: 0 auto;
    padding: 0px;
    font-family: "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", SimHei, sans-serif;
}
a{color:#000;text-decoration:none}
a:focus{outline:none}
.left{float:left;}
.right{float:right;}
.f1{float:left; margin-left:20px;}

.font-yahei {
    font-family: "Microsoft YaHei"
}

a.btn{border: 0;
    border-radius: 5px;
    cursor: pointer;
    background:#15b0f5;
    padding: 5px 20px;
    color:#fff;
}

.fixed{position:fixed; top:500px; right:250px;}

/*Table 样式*/
.tab-default{line-height:40px;background:#d7d7d7; font-size:14px;}
.tab-default th{background:#f4f4f4;}
.tab-default tr{background:#FFF;}
.tab-default tr td{ background:#FFF; text-align:center;}
.tab-default tr td a{color:#00aeff;}
.tab-default tr td a:hover{color:#333;}
.tab-default tr td select {width:90px; height:24px;border: solid 1px #dfdfdf; padding-left: 14px;}
.tab-default select, .tab-default input{    width: 70px;
    height: 22px;
    border: 1px solid #dfdfdf;
    background: #f4f4f4;
    text-align: center;}


.shade {
    width: 100%;
    height: 100%;
    position: fixed;
    background: #000;
    filter: alpha(opacity=20);
    -moz-opacity: 0.2;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    z-index: 9;
}

.st-roster {
    width: 1000px;
    
    position: fixed;
    top: 50%;
    left: 50%;
    background: #fff;
    margin-top: -308px;
    margin-left: -377px;
    padding: 0;
    z-index: 9999;
    border-radius: 10px;
}

.content-container {
    font-size:14px;
}

.header-wrap {
    margin:0 auto; padding:10px 50px;
}
.header-wrap .head {
    height: 60px;
    line-height: 60px;
}
.reg{background:rgba(0,0,0,.3); padding:30px 50px;}
.reg .title{font-size:18px; color:#fff;}
.reg .info input{line-height:35px; height:35px; width:200px; }

.header-wrap .head .logo{ width:180px; height:60px;}
.slider{ background:#82f7da;}
.slider .pic-field{padding:50px 0;width:1200px;}

.content {padding-bottom:40px; background:#f4f4f4;}
.content .func-field{ padding:50px 50px; height:250px; }
.content .func-field .func{width:300px; margin-left:30px;}
.content .func-field .func img{width:300px;}
.content .func-field .func p{padding:5px 0; text-align:center;}
.content .func-field .func p.funcname{font-size:18px;}

.content .main-content{width:1200px; background:#fff; padding:20px;}

.file{font-size:16px; border:1px dashed #15b0f5;padding:20px 0; margin-top:20px;}

.fileupload .uploadline{clear:both; padding:10px 0 0 65px; line-height:30px;}
.fileupload .uploadline .uploadname{width:200px; text-align:right;}

.fileupload .uploadline .uploadpath{width:400px; height:30px; border:1px solid #ffd800; padding:0 5px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.upload-file{list-style-type:none;right: 0;top: 0;opacity: 0; position:absolute;}
.uploadfile .choose{padding:0 10px; border:1px solid #808080; background:#e4e6ed; cursor:pointer;}
.uploadfile .progressbar{width:250px; height:30px; border:1px solid #ffd800; margin-left:20px;}
.uploadfile .curprogress{background:#ffd800; height:30px;}

.main-content .uploadbtn{clear:both; text-align:center; padding:40px; font-size:18px;}
.main-content .uploadbtn a, .main-content .uploadedinfo.file a{ margin-left:10px; }

.uploadedinfo.file{display:none; padding: 10px 20px; line-height:30px;}
.uploadedinfo.file .zyno{font-size:20px; color:#ff0000; text-align:center;}

.popclose{position:relative; top: -13px; right: -11px; float:right; cursor:pointer;}
.setanswer .popcontent{padding: 10px 20px; background:#f4f4f4;border-radius:0 0 10px 10px;width:auto; height:500px;}
.setanswer .poptitle{background:#15b0f5; font-size:18px; height:50px; color:#fff; line-height:50px;width:auto;border-radius:10px 10px 0 0; padding-left:20px;}
.setanswer .popcontent .addedques{height:450px; overflow-y:scroll;}
.setanswer .addbtn{background:#d7d7d7; padding:15px 20px;}
.rdo{background:url("/Images/radio.png") no-repeat; padding-left:18px; cursor:pointer;}
.rdo.choose{ background-position: 0 -28px;}
.rdo.unchoose{ background-position: 0 3px;}
.chk{background:url("/Images/checkbox.png") no-repeat; padding-left:23px; cursor:pointer;}
.chk.choose{background-position: 0 -68px;}
.chk.unchoose{background-position: 0 1px;}
.addedques input{width:50px; height:20px;}
.popcontent .addedques .chk{margin-left: 20px;}

.main-content .zyquery{text-align:center; padding: 20px 0;}
.main-content .zyquery b{font-size:20px;}
.main-content .zyquery input{height:25px; font-size:20px; font-weight:bold;}
.main-content .zyquery a{margin-left:10px;}
.main-content .zyopen{display:block; text-align:center; }

.fixed.writetip{top:250px;}
.write{cursor:pointer;}
.answercard{background:#d7d7d7; color:#eb2020; width:500px; height:500px; display:none; top:250px;}
.answercard .cardtitle{height:40px; background:#00aeff;line-height:40px; font-size:16px; font-weight:bold; padding-left:10px;}
.answercard .ques{height:450px; }
.answercard span{height:30px; line-height:30px;}
.answercard .ques span a{margin-left:10px;}
.answercard .ques .left{padding:5px 10px;}
.answercard .anspic, .answercard .anspiclist{padding:5px 10px; clear:both;}
.answercard .anspiclist img{margin-left:10px;}
.answercard .func{padding:5px 10px;}

.foot-wrap{width: 100%;min-width: 1000px;padding: 30px 0;overflow: hidden;background: #333;}
.foot{text-align:center; color:#e4e6ed;}