* {
    margin: 0 auto;
    padding: 0px;
    font-family: "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", SimHei, sans-serif;
}
a{color:#000;text-decoration:none}
a:focus{outline:none;}
a:hover{text-decoration:none;}
li{list-style-type:none;}
.left{float:left;}
.right{float:right;}
.f1{float:left; margin-left:20px;}

.font-yahei {
    font-family: "Microsoft YaHei"
}

a.btn{
    border-radius: 5px;
    cursor: pointer;
    background:royalblue;
    padding: 5px 20px;
    color:#fff;
}
a.chart{color:#e91a53; font-weight:bold; width:30px; height:30px; line-height:30px; background:url("/Images/ico_chart.png") no-repeat 0 0; padding-left:30px;}

.fixed{position:fixed; top:500px; right:250px;}
.topfixed{position:fixed; right:20px; bottom:200px; width:50px;}
.topfixed li{color: #fff;border-radius: 2px;margin-bottom: 3px;cursor: pointer;position:relative;}
.topfixed .text{background-color: #f75e12; width:30px;height: 40px; font-size:14px; padding:5px 10px;text-align: center; vertical-align:middle;position: absolute; top:0; left:0; display:none;}
.topfixed .text a{ text-decoration:none; color:#ffffff;}
.topfixed li:hover .text{display:block;}
.topfixed .icon{background:url("/Images/icon_bg.png"); background-color:#dfdfdf; height:50px; width:50px;  display:block;}
.topfixed .icon-suggest{background-position:-490px -88px;}
.topfixed .icon-qq{background-position:-490px -40px;}

.prop-suggest {
    width: 353px;
    border-radius: 6px;
    box-shadow: 5px 0 20px rgba(0, 0, 0, .3);
    background: #fff;
    padding: 20px;
    z-index: 1000;
    display: none;
}
.prop-suggest .ptop-logo {
    width: 70px;
    height: 70px;
    background: url(/images/logo.jpg);
    margin: 30px auto;
}

.prop-suggest textarea {
    width: 333px;
    height: 135px;
    padding: 10px;
    border: 1px solid #dedede;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 10px;
}

.prop-suggest input {
    width: 94%;
    float: left;
    padding: 12px 10px;
    line-height: 20px;
    font-size: 15px;
    border: 1px solid #e8e8e8;
    outline: 0;
    margin-bottom: 10px;
}

.prop-suggest button {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #FFF !important;
    background-color: #33ca73;
    border: 0;
    outline: 0;
    font-size: 18px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    cursor: pointer;
}
.prop-suggest .thanks{font-size:14px; color:red; margin-top:20px; display:none; border:1px solid royalblue; padding:5px;}

/*Table 样式*/
.tab-default{line-height:40px;background:#d7d7d7; font-size:14px; width:100%}
.tab-default th{background:#f4f4f4;}
.tab-default tr{background:#FFF;}
.tab-default tr td{ background:#FFF; text-align:center;}
.tab-default tr td a{color:#00aeff;}
.tab-default tr td a:hover{color:#333;}
.tab-default tr td select {width:90px; height:24px;border: solid 1px #dfdfdf; padding-left: 14px;}
.tab-default select, .tab-default input{    width: 70px;
    height: 22px;
    border: 1px solid #dfdfdf;
    background: #f4f4f4;
    text-align: center;}


.shade {
    width: 100%;
    height: 100%;
    position: fixed;
    background: #000;
    filter: alpha(opacity=20);
    -moz-opacity: 0.2;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    z-index: 9;
}

.st-roster {
    width: 1000px;
    position: fixed;
    top: 50%;
    left: 43%;
    background: #fff;
    margin-top: -308px;
    margin-left: -377px;
    padding: 0;
    z-index: 9999;
    border-radius: 10px;
}

.content-container {
    font-size:14px;
}

.header-wrap {
    margin:0 auto; 
}
.header-wrap .head {
    height: 70px;
    line-height: 70px;
    width:1200px;
}

.header-wrap .head .logo{ width:50px; height:50px; margin-top:10px;}
.head .logoarea{ height:70px; line-height:70px;}
.head .logoarea label{font-size:20px; color:#e91a53;}
.head .right a{padding:0 10px;}
.head .right a:hover{color:red;}
.head .right .facepic{background:url("/Images/ico.png");display: inline-block;
    width: 50px;
    height: 50px;
    background-position: 0 -93px;
    margin: 10px;}
.head .right .uinfo{
    width: 110px;
    height: 20px;
    margin-top: 30px;
    cursor: pointer;}
.head .uinfo b{width:90px; height:20px; line-height:20px; font-size:16px;}
.head .uinfo i{background: url(/Images/arrow.png)no-repeat; background-position: 0 -2px; width:20px; height:20px;}
.head .uprop{position:absolute; z-index:99; display:none; }
.head .uprop ul{margin-bottom:0;}
.head .uprop li{border-bottom:1px dashed #ccc;  height:40px; line-height:40px;background:#00aeff; cursor:pointer;}
.head .uprop li a{color:#fff;padding:10px 26px;}
.popclose, .closesuggest{position:relative; top: -35px; right: -22px; float:right; cursor:pointer;}

.slider{ height:500px;}
.slider .pic-field{padding:50px 0;width:1200px;}

.content-wrap {background:#f4f4f4; min-height:800px;}
.content-nav{width:1200px; padding:20px 0; color:#999;}
.content-nav a:hover{color:royalblue;}
.content .func-field{ padding:50px 50px; height:250px; }
.content .func-field .func{width:300px; margin-left:30px;}
.content .func-field .func img{width:300px;}
.content .func-field .func p{padding:5px 0; text-align:center;}
.content .func-field .func p.funcname{font-size:18px;}

.content .main-content{width:1160px; background:#fff; padding:20px; min-height:600px;}

.file{font-size:16px; border:1px dashed royalblue;padding:20px 0; }

.fileupload .uploadline{clear:both; padding:10px 0 0 65px; line-height:30px;}
.fileupload .uploadline .uploadname{width:200px; text-align:right;}

.fileupload .uploadline .uploadpath{width:400px; height:30px; border:1px solid #ffd800; padding:0 5px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.upload-file{list-style-type:none;right: 0;top: 0;opacity: 0; position:absolute;}
.uploadfile .choose{padding:0 10px; border:1px solid #808080; background:#e4e6ed; cursor:pointer;}
.uploadfile .progressbar{width:250px; height:30px; border:1px solid #ffd800; margin-left:20px;}
.uploadfile .curprogress{background:#ffd800; height:30px;}
.preview ul, .zyopen ul{padding-bottom:20px;}
.preview li, .zyopen li{border:1px solid royalblue; padding:5px 20px;font-size:18px; font-weight:bold; cursor:pointer;}
.preview li.active, .zyopen li.active{background:#0094ff; color:#fff;  }

.main-content .uploadbtn{clear:both; text-align:center; padding-top:40px; font-size:18px;}
.main-content .uploadtip{text-align:center; color:red; padding-top:20px; display:none;}
.main-content .uploadbtn a, .main-content .uploadedinfo.file a{ margin-left:10px; }

.uploadedinfo.file{display:none; padding: 10px 20px; line-height:30px;}
.uploadedinfo.file .zyno{font-size:20px; color:#ff0000; text-align:center;}


.setanswer .popcontent{padding: 10px 20px; background:#f4f4f4;border-radius:0 0 10px 10px;width:auto; height:500px;}
.setanswer .poptitle{background:royalblue; font-size:18px; height:50px; color:#fff; line-height:50px;width:auto;border-radius:10px 10px 0 0; padding-left:20px;}
.setanswer .popcontent .addedques{height:450px; overflow-y:scroll;}
.setanswer .addbtn{background:#d7d7d7; padding:15px 20px;}
.rdo{background:url("/Images/radio.png") no-repeat; padding-left:18px; cursor:pointer;}
.rdo.choose{ background-position: 0 -28px;}
.rdo.unchoose{ background-position: 0 3px;}
.chk{background:url("/Images/checkbox.png") no-repeat; padding-left:23px; cursor:pointer;}
.chk.choose{background-position: 0 -68px;}
.chk.unchoose{background-position: 0 1px;}
.addedques input{width:50px; height:20px;}
.popcontent .addedques .chk{margin-left: 20px;}

.main-content .zyquery{text-align:center; padding: 20px 0;}
.main-content .zyquery b{font-size:20px;}
.main-content .zyquery input{height:25px; font-size:20px; font-weight:bold;}
.main-content .zyquery a{margin-left:10px;}
.main-content .zyopen{display:block; text-align:center; }

.fixed.writetip{top:250px;}
.write{cursor:pointer;}
.answercard{background:#d7d7d7; color:#eb2020; width:500px; height:500px; display:none; top:250px;}
.answercard .cardtitle{height:40px; background:royalblue;line-height:40px; font-size:16px; font-weight:bold; padding-left:10px;}
.answercard .ques{height:450px; }
.answercard span{height:30px; line-height:30px;}
.answercard .ques span a{margin-left:10px;}
.answercard .ques .left{padding:5px 10px;}
.answercard .anspic, .answercard .anspiclist{padding:5px 10px; clear:both;}
.answercard .anspiclist img{margin-left:10px;}
.answercard .func{padding:5px 10px;}



.foot-wrap{width: 100%;min-width: 1000px;padding: 30px 0;overflow: hidden;background: #333;}
.foot{text-align:center; color:#e4e6ed;}