@using hw.easyzy.model.dto;
@{
    ViewBag.Title = "易作业-提交作业";
    Layout = "~/areas/submit/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .foot-wrap {display: none;}

    
</style>

<div class="content-nav">当前位置：<a href="http://easyzy.com">首页</a> > <a href="http://hw.easyzy.com/list/home">作业列表</a> > 提交作业</div>

<div class="content">
    <div class="main-content">
        <div class="zyname-center">
            <h1></h1>
            <h2></h2>
        </div>
        <div class="answerpiclist">
            <ul id="imgul">
            </ul>
        </div>
        <div class="queslist">

        </div>
        <div class="quesop">
            <span></span>
            <!-- font-size设置为0 否则cursor：pointer无效 -->
            <input type="file" id="myfile" title="非选择题请将答案写到纸上拍照上传" onchange="uploadFile();" name="myfile" style="position:absolute; cursor:pointer; width:196px; height:51px; top:15px; font-size:0; opacity:0; filter:alpha(opacity=0); z-index:99;" accept=".jpg,.bmp,.gif,.png" />
            <a href="javascript:void(0);" class="uploadpic">上传答案照片</a>

            <a href="javascript:void(0);" class="submit">提交</a>
        </div>
    </div>
</div>

@section scriptlast{
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script type="text/javascript" src="/Scripts/ajaxfileupload.js"></script>
    
}
<script type="text/javascript">
    var cur_data = {
        zyid: '@ViewBag.ZyId'
    }

    $(function () {
        $.post("/submit/home/getzyinfo",
            { zyId: cur_data.zyid },
            function (data) {
                $(".zyname-center h1").html(data.data.ZyName);
                $(".zyname-center h2").html(data.data.OpenDateStr + " - " + data.data.DueDateStr);
                if (data.code == "0") {
                    if (data.data.Type == 0) {
                        ShowQdbQuestions(data.data.CourseId);
                        LoadAnswerPicList();
                    } 
                }
                else {
                    //关闭状态，能打开不能提交
                    //删除状态，不能打开
                    if (data.data.Status == 2) {
                        $(".queslist").html("<p style='color: #e91a53;'>" + data.message + "</p>");
                        $(".quesop input").attr("disabled", true);
                        $(".quesop a").addClass("a-disable").attr("title", "作业已被删除，无法提交/上传图片！");
                    }
                    else {
                        if (data.data.Status == 1) {
                            if (data.data.Type == 0) {
                                ShowQdbQuestions(data.data.CourseId);
                                LoadAnswerPicList
                            }

                            $(".quesop input").attr("disabled", true);
                            $(".quesop a").addClass("a-disable").attr("title", "作业已被关闭，无法提交/上传图片！");
                        }
                    }
                }
            })

        
    })

    var LoadAnswerPicList = function () {
        $.post("/submit/home/getanswerpiclist",
            { zyId: cur_data.zyid },
            function (data) {
                if (data.code == "0" && data.data != "") {
                    var imgs = data.data.split(',');
                    var html = "";
                    for (var i = 0; i < imgs.length; i++) {
                        html += "<li><img width='50' src='" + imgs[i] + "' alt='答案照片'></li>";
                    }

                    $("#imgul").html(html);
                    $('#imgul').viewer();
                }
            })
    }

    var ShowQdbQuestions = function (courseid) {
        $.post("/submit/qdb/getquestions",
            { courseId: courseid, zyId: cur_data.zyid },
            function (data) {
                $(".queslist").html(data);
            })
    }

    var uploadFile = function () {
        var allowExtention = ".jpg,.jpeg,.bmp,.gif,.png";
        var extention = $("#myfile").val().substring($("#myfile").val().lastIndexOf(".") + 1).toLowerCase();
        if (allowExtention.indexOf(extention) < 0) {
            dialogAlert("请选择正确的图片格式");
            return false;
        }
        $(".uploadpic").html("正在上传");
        $.ajaxFileUpload({
            url: '/submit/qdb/UploadAnswerImage', //用于文件上传的服务器端请求地址
            secureuri: false, //是否需要安全协议，一般设置为false
            fileElementId: 'myfile', //文件上传域的ID或name
            dataType: 'json', //返回值类型 一般设置为json
            data: { zyId: cur_data.zyid },
            success: function (data, status) {
                ShowNewPic(data);
            },
            error: function (data, status, e) {
                ShowNewPic(data);
            }
        });
        return false;
    }

    var ShowNewPic = function (data) {
        var json = JSON.parse(data.responseText);
        if (json.code == 0) {
            $("#imgul").append("<li><img width='50' src='" + json.data + "' alt='答案照片'></li>");
        } else {
            dialogAlert(json.message);
        }
        $(".uploadpic").html("上传答案照片");
        $("#myfile").attr("title", "非选择题请将答案写到纸上拍照上传");
        $('#imgul').viewer("update");
    }

    $(".quesop .submit").on("click", function () {
        if ($(this).hasClass("a-disable")) {
            dialogAlert("作业已关闭/删除，无法提交/上传图片！");
        }
        else {
            dialogConfirm("确定要提交吗？", SubmitOK, "");
        }
    })

    var SubmitOK = function () {
        //submit
        var qlist = [], anslist = [], qanswer_temp = [];
        var qid = 0;
        var qanswer = "";

        $(".queslist .option.active").each(function () {
            if ($(this).parent().hasClass("coption")) {
                qid = $(this).parents(".cques").attr("data-bind");
            }
            else {
                qid = $(this).parents(".pques").attr("data-bind");
            }

            //一个多选题只循环一次
            if ($.inArray(qid, qlist) == -1) {
                if ($(this).hasClass("single")) {
                    qanswer = $(this).attr("data-bind");
                }
                else {
                    qanswer_temp = [];
                    qanswer_temp.push($(this).attr("data-bind"));
                    $(this).siblings(".option").each(function () {
                        if ($(this).hasClass("active")) {
                            qanswer_temp.push($(this).attr("data-bind"));
                        }
                    })
                    qanswer = qanswer_temp.join("");
                }
                qlist.push(qid);
                anslist.push(qanswer);
            }
        })

        var questions = qlist.length > 0 ? qlist.join(",") : "";
        var answers = anslist.length > 0 ? anslist.join(",") : "";

        $.post("/submit/qdb/SubmitAnswer",
            { zyId: cur_data.zyid, questions: questions, answers: answers },
            function (data) {
                if (data.code == "0") {
                    window.location.href = "/list/submited/desc?zyid=" + cur_data.zyid;
                }
                else {
                    dialogAlert(data.message);
                }
            })
    }

</script>