*{margin:0 auto;padding:0px;font-family:"Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",SimHei,sans-serif}
a{color:#000;text-decoration:none}
a:focus{outline:none}
a:hover{text-decoration:none}
p{margin:0;}
img{vertical-align:middle;}
li{list-style-type:none}
label {display: block; margin-bottom: 0; font-weight:normal;}
.left{float:left}
.right{float:right}
.f1{float:left;margin-left:20px}
#pager{padding:20px 0; }
.font-yahei{font-family:"Microsoft YaHei"}
a.btn{border-radius:2px;cursor:pointer;background:royalblue;padding:5px 20px;color:#fff}
a.chart{color:#e91a53;font-weight:bold;width:30px;height:30px;line-height:30px;background:url("/Images/ico_chart.png") no-repeat 0 0;padding-left:30px}
.fixed{position:fixed;top:500px;right:250px}
.topfixed{position:fixed;right:20px;bottom:200px;width:50px}
.topfixed li{color:#fff;border-radius:2px;margin-bottom:3px;cursor:pointer;position:relative}
.topfixed .text{background-color:#f75e12;width:30px;height:40px;font-size:14px;padding:5px 10px;text-align:center;vertical-align:middle;position:absolute;top:0;left:0;display:none}
.topfixed .text a{text-decoration:none;color:#ffffff}
.topfixed li:hover .text{display:block}
.topfixed .icon{background:url("/Images/icon_bg.png");background-color:#dfdfdf;height:50px;width:50px;display:block}
.topfixed .icon-suggest{background-position:-490px -88px}
.topfixed .icon-qq{background-position:-490px -40px}
.prop-suggest{width:353px;border-radius:6px;box-shadow:5px 0 20px rgba(0,0,0,.3);background:#fff;padding:20px;z-index:1000;display:none}
.prop-suggest .ptop-logo{width:70px;height:70px;background:url(/images/logo.jpg);margin:30px auto}
.prop-suggest textarea{width:333px;height:135px;padding:10px;border:1px solid #dedede;line-height:24px;font-size:14px;margin-bottom:10px}
.prop-suggest input{width:94%;float:left;padding:12px 10px;line-height:20px;font-size:15px;border:1px solid #e8e8e8;outline:0;margin-bottom:10px}
.prop-suggest button{display:block;width:100%;height:40px;line-height:40px;text-align:center;color:#FFF !important;background-color:#33ca73;border:0;outline:0;font-size:18px;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;cursor:pointer}
.prop-suggest .thanks{font-size:14px;color:red;margin-top:20px;display:none;border:1px solid royalblue;padding:5px}

.shade{width:100%;height:100%;position:fixed;background:#000;filter:alpha(opacity=20);-moz-opacity:0.2;-khtml-opacity:0.5;opacity:0.5;z-index:9}
.st-roster{width:1000px;position:fixed;top:50%;left:43%;background:#fff;margin-top:-308px;margin-left:-377px;padding:0;z-index:9999;border-radius:5px}
.st-roster .poptitle{padding: 10px; color:#fff; background:#0094ff; font-size: 16px;}
.st-roster .popcontent{padding: 10px;}
.st-roster .popfoot{margin-top:10px; padding-top:10px; padding-bottom:30px; text-align: center;}
.content-container{font-size:14px}
.header-wrap{margin:0 auto}
.header-wrap .head{height:70px;line-height:70px;width:1200px}
.header-wrap .head .logo{width:50px;height:50px;margin-top:10px}
.head .logoarea{height:70px;line-height:70px}
.head .logoarea label{font-size:18px;color:#333;}
.head .right a{padding:0 10px}
.head .right a:hover{color:red}
.head .right .facepic{background:url("/Images/ico.png");display:inline-block;width:50px;height:50px;background-position:0 -93px;margin:10px}
.head .right .uinfo{width:110px;height:20px;margin-top:30px;cursor:pointer}
.head .uinfo b{width:90px;height:20px;line-height:20px;font-size:16px; text-overflow:ellipsis;white-space:nowrap;overflow:hidden}
.head .uinfo i{background:url(/Images/arrow.png)no-repeat;background-position:0 -2px;width:20px;height:20px}
.head .uprop{position:absolute;z-index:99;display:none}
.head .uprop ul{margin-bottom:0}
.head .uprop li{border-bottom:1px dashed #ccc;height:40px;line-height:40px;background:#00aeff;cursor:pointer}
.head .uprop li a{color:#fff;padding:10px 26px}
.head .navigate{padding-top:1px; padding-left:50px; font-size:18px;}
.head .navigate a{padding:5px 10px; color:#333;}
.head .navigate a:hover, .head .navigate a.active{color:#e91a53; font-weight:bold;}
.topnav{height:40px; background:#faa; line-height:40px;color:#fff; margin-top:10px;}
.topnav-list{width:1200px; margin:auto;}
.topnav .notice{float:left; }
.topnav .notice img{width:20px; height:20px; vertical-align:middle;}
.topnva ul{float:right;}
.topnav ul li{float:right; margin-left:20px;}
.topnav li a{color:#fff;}
.popclose,.closesuggest{position:relative;top:-35px;right:-22px;float:right;cursor:pointer}
.slider{height:500px}
.slider .pic-field{padding:50px 0;width:1200px}
.content-wrap{background:#f4f4f4;min-height:800px}
.content-nav{width:1200px;padding:20px 0;color:#999}
.content-nav a:hover{color:royalblue}
.content .func-field{margin-top:20px; padding:20px 0; height:320px; clear:both; background:#fff;}
.func-field .func-title{padding: 0 20px;margin-bottom: 10px;font-size: 18px;color: #057ee1;border-left: 3px solid #057ee1;}
.content .func-field .func{width:300px;margin-left:65px; font-size:16px;}
.content .func-field .func img{width:300px}
.content .func-field .func p{padding:5px 0;text-align:center}
.content .func-field .func p.funcname{font-size:18px}
.func-field .func li{list-style-type:circle; padding:10px 0;}
.content .main-content{width:1160px;background:#fff;padding:20px;overflow:hidden;}
.file{font-size:16px;border:1px dashed royalblue;padding:20px 0}
.fileupload .uploadline{clear:both;padding:10px 0 0 65px;line-height:30px}
.fileupload .uploadline .uploadname{width:200px;text-align:right}
.fileupload .uploadline .uploadpath{width:400px;height:30px;border:1px solid #ffd800;padding:0 5px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden}
.upload-file{list-style-type:none;right:0;top:0;opacity:0;position:absolute}
.uploadfile .choose{padding:0 10px;border:1px solid #808080;background:#e4e6ed;cursor:pointer}
.uploadfile .progressbar{width:250px;height:30px;border:1px solid #ffd800;margin-left:20px}
.uploadfile .curprogress{background:#ffd800;height:30px}
.preview ul,.zyopen ul{padding-bottom:20px}
.preview li,.zyopen li{border:1px solid royalblue;padding:5px 20px;font-size:18px;font-weight:bold;cursor:pointer}
.preview li.active,.zyopen li.active{background:#0094ff;color:#fff}
.main-content .uploadbtn{clear:both;text-align:center;padding-top:40px;font-size:18px}
.main-content .uploadtip{text-align:center;color:red;padding-top:20px;display:none}
.main-content .uploadbtn a,.main-content .uploadedinfo.file a{margin-left:10px}
.uploadedinfo.file{display:none;padding:10px 20px;line-height:30px}
.uploadedinfo.file .zyno{font-size:20px;color:#ff0000;text-align:center}
.setanswer .popcontent{padding:10px 20px;background:#f4f4f4;border-radius:0 0 10px 10px;width:auto;height:500px}
.setanswer .poptitle{background:royalblue;font-size:18px;height:50px;color:#fff;line-height:50px;width:auto;border-radius:10px 10px 0 0;padding-left:20px}
.setanswer .popcontent .addedques{height:450px;overflow-y:scroll}
.setanswer .addbtn{background:#d7d7d7;padding:15px 20px}
.rdo{background:url("/Images/radio.png") no-repeat;padding-left:18px;cursor:pointer}
.rdo.choose{background-position:0 -28px}
.rdo.unchoose{background-position:0 3px}
.chk{background:url("/Images/checkbox.png") no-repeat;padding-left:23px;cursor:pointer}
.chk.choose{background-position:0 -68px}
.chk.unchoose{background-position:0 1px}
.addedques input{width:50px;height:20px}
.popcontent .addedques .chk{margin-left:20px}
.main-content .zyquery{text-align:center;padding:20px 0}
.main-content .zyquery b{font-size:20px}
.main-content .zyquery input{height:25px;font-size:20px;font-weight:bold}
.main-content .zyquery a{margin-left:10px}
.main-content .zyopen{display:block;text-align:center}
.fixed.writetip{top:250px}
.write{cursor:pointer}
.answercard{background:#d7d7d7;color:#eb2020;width:500px;height:500px;display:none;top:250px}
.answercard .cardtitle{height:40px;background:royalblue;line-height:40px;font-size:16px;font-weight:bold;padding-left:10px}
.answercard .ques{height:450px}
.answercard span{height:30px;line-height:30px}
.answercard .ques span a{margin-left:10px}
.answercard .ques .left{padding:5px 10px}
.zyopenmessage{margin-top:10px; padding: 5px 20px; color:#ff006e; background:url("/Images/gantanhao.png") no-repeat 0 7px;}

.answercard .anspic,.answercard .anspiclist{padding:5px 10px;clear:both}
.answercard .anspiclist img{margin-left:10px}
.answercard .func{padding:5px 10px}
a.odasc{background-position:-23px -27px;}
a.oddesc{background-position:0 -26px;}
.zxtitle{text-align: center;font-weight: bold;font-size: 20px;padding: 20px 0;}
.zxcontent{padding-bottom:100px;}
.zxcontent p{line-height: 25px;font-size: 16px;text-indent:25px; padding:10px 0;}
.zxcontent .pb{font-weight:bold;}
.zxcontent .pc{text-align:center;}
.zxcontent.fromwx{font-family: 黑体;font-size: 15px;letter-spacing: 1px;box-sizing: border-box !important;word-wrap: break-word !important; width: 655px; }
.zxcontent.fromwx p{text-indent:0;}
.foot-wrap{width:100%;min-width:1000px;padding:30px 0;overflow:hidden;background:#333}
.foot{text-align:center;color:#e4e6ed}
.foot p{line-height:30px;}
.page-nav .page-func{margin-right:25px;cursor:pointer;font-size:18px;padding:12px 15px;margin-left:20px}
.page-nav .page-func:hover{color:#0094ff}
.content-title{height:50px;width:1200px;background:#fff;margin-bottom:20px}
.page-nav .select-header{background:#0094ff;text-align:center;width:250px;height:50px;cursor:pointer;border-radius:4px 4px 0 0;position:relative}
.page-nav .selectkc{font-weight:700;clear:both;font-size:18px;width:135px;line-height:50px;color:#fff}
.page-nav .selectkc .white-line{width:20px;height:5px;border-bottom:1px solid #fff}
.page-nav .select-header ul{position:absolute; }
.page-nav .stage-list{width:250px;background:#e9e1e1;border-bottom:1px solid #fff;position:absolute;display:none;z-index:99;}
.page-nav .stage-list .stage{clear:both;border-bottom:1px solid #ff006e;line-height:30px;padding-top:10px}
.page-nav .stage-list span{color:#0094ff;font-size:16px;padding:10px 10px}
.page-nav .stage-list .stage li a{padding:5px 10px;cursor:pointer}
.page-nav .stage-list .stage li a:hover{color:#ff006e}
.page-nav .stage-list .stage li a.active{color:#ff006e}
.page-top .page-func.active{color:#0094ff;border-bottom:2px solid #0094ff}

.quessearch{background:#fff;padding:5px 10px}
.quessearch .line{line-height:40px}
.quessearch .line a{padding:5px 15px}
.quessearch .line a:hover{color:#0094ff}
.quessearch .line a.active{color:#0094ff}
.quesrandom{margin-top:20px;background:#fff;padding:5px 10px;line-height:40px}
.quesrandom .tip{height:30px;line-height:30px;color:#ff006e}
.quesrandom input{width:100px}
.quesrandom .rgq{padding:5px 15px;background:#0094ff;color:#fff;border-radius:3px}
.resulttitle{margin-top:20px;background:#fff;padding:5px 10px;line-height:40px}
.resulttitle .unchoosed {background-position-y: 2px;}
.resulttitle .choosed{background-position-y:-68px}
.resulttitle .addall{float:right;background-color:#0094ff;border-radius:3px;color:#fff;padding:0 10px}
.resulttitle .addall b{font-size:18px}
.queryresult{margin-top:20px;background:#fff;padding:5px 10px;min-height:500px}
.rcounttip{color:#ff006e;display:none}

.pques, .cques{border:1px solid #deedff; margin-top:10px; line-height:28px;}
.qtitle, .pbody, .answerparse, .cbody, .poption, .coption{padding:10px 10px; }
.qtitle{background:#f4f9ff; overflow:hidden;}
.qtitle .qtleft{float:left;}
.qtitle .qtleft span{padding-right:20px;}
.qtitle .qtright{float:right;}
.qtitle .qtright .addone{padding: 3px 6px;color: #fff;}
.qtitle .qtright .addone.join{background: #32ca73;}
.qtitle .qtright .addone.remove{background:#333;}
.pques .panswer, .cques .canswer, .pques .poption span.option, .cques .coption span.option{padding:5px 10px;}
.pques .panswer.error, .cques .canswer.error{color:#e91a53; font-weight:bold;}
.answerparse{display:none;}
.pques .dotted{height: 30px;background: url(/images/dotted.png) repeat-x 0px 13px;margin: 10px 10px 0px 10px;color: #0088cc;}
.pques .dotted .show{width: 100px;float: left;cursor: pointer; background:#fff;}
.pques .cquestions{padding: 10px 10px;}


.qtypespan{padding:20px 0 10px 0;font-weight:700}
.queslist{padding-bottom:100px}
.quesop{padding:30px 0;text-align:center;position:fixed;bottom:0;left:0;right:0;background:#fff;border:1px solid grey}
.quesop a{padding:15px 30px;color:#fff;background:#0094ff;border-radius:3px;font-size:16px}
.quesop a.download{background-image:url(/Images/icon-tb1.png);padding-left:70px;background-repeat:no-repeat;background-position-x:30px;background-position-y:13px}
.quesop a.save{margin-left:50px;background-image:url(/Images/icon-tb4.png);padding-left:70px;background-repeat:no-repeat;background-position-x:30px;background-position-y:12px}
.quesop a.uploadpic{background-image:url(/Images/uploadpic.png);padding-left:70px;background-repeat:no-repeat;background-position-x:30px;background-position-y:14px}
.quesop a.submit{margin-left:50px;background-image:url(/Images/submit.png);padding-left:70px;background-repeat:no-repeat;background-position-x:30px;background-position-y:13px}
.savetip .popfoot a{padding:5px 20px;background:#0094ff;color:#fff}
.calendar{background:url(/Images/calendar-icon.png) no-repeat 9px 5px;width:32px;height:22px;display:block;float:left}
.savetip .popfoot .cancel{margin-left:40px}
.savetip .popcontent{line-height:25px}
.savetip .popcontent input{height:25px}
.savetip .zyname{padding:10px 20px}
.savetip .zyname input{width:362px}
.savetip .zydate .dateinp{border:none;float:left}
.savetip .zydate .datep{border:1px solid grey;float:left}
.savetip .popcontent .zydate{clear:both;padding:10px 20px;overflow:hidden}
.savetip .zydatetip p{padding:0 40px;color:#ff006e;clear:both;background:url(/Images/gantanhao.png) no-repeat 20px}

.zyname-center {text-align:center;}
.zyques {margin-top:20px;padding:10px 5px;}
.pques .poption span.option.single,.pques .coption span.option.single {background:url("/Images/radio.png") no-repeat 10px 7px;padding-left:30px;cursor:pointer;}
.pques .poption span.option.single.active,.pques .coption span.option.single.active {background-position:10px -25px;}
.pques .poption span.option.multy,.pques .coption span.option.multy {background:url("/Images/checkbox.png") no-repeat 10px 6px;padding-left:33px;cursor:pointer;}
.pques .poption span.option.multy.active,.pques .coption span.option.multy.active {background-position:10px -62px;}
.quesop .a-disable{background:#808080}
#imgul img{cursor:pointer;}
#imgul li{border:1px solid #f4f9ff; margin-right: 20px; width:50px; height:50px; float:left; line-height:50px;}
#imgul{clear:both; overflow:hidden;}

table{border-collapse:collapse;border-spacing:0}
.table-bordered{border:0px}
.table{width:100%}
.table-bordered > thead > tr > th,.table-bordered > tbody > tr > th,.table-bordered > tfoot > tr > th,.table-bordered > thead > tr > td,.table-bordered > tbody > tr > td,.table-bordered > tfoot > tr > td{border:1px solid #cad9ea}
.table > thead > tr > th{background:#CCE8EB;color:#333;font-size:16px;font-weight:bold}
.table > tbody > tr > td{color:#333;font-size:14px}
.table > tbody > tr > td a{color:#0094ff;position:relative}
.table > tbody > tr > td.align-left{text-align:left;padding-left:10px}
.table > thead > tr > th,.table > tbody > tr > th,.table > tfoot > tr > th,.table > thead > tr > td,.table > tbody > tr > td,.table > tfoot > tr > td{position:relative;padding:4px;line-height:40px;text-align:center}

#classbar, #submitbar, #quesbar, #optionbar{margin-top:50px;}
.quesbar .tab, .submitbar .tab, .optionbar .tab{clear:both; overflow:hidden; padding: 10px 0;}
.quesbar .tab li, .submitbar .tab li, .optionbar .tab li{float: left; font-size:12px; padding: 10px 10px; cursor:pointer;color:#fff; background:#aacbf3}
.quesbar .tab li.active, .submitbar .tab li.active, .optionbar .tab li.active{ background:#0094ff}
.bartitle{font-size: 14px; color:#fff; background:#808080; padding: 10px 10px;}
.barsummary{color:#e91a53; padding: 10px 0; font-weight:bold; font-size:14px;}
.bbshelper{background:url("/Images/gantanhao.png") no-repeat 0 2px; padding-left:20px;}