@{
    ViewBag.Title = "易作业-题库作业";
    Layout = "~/areas/create/Views/Shared/_Layout.cshtml";
}

<div class="content-nav">当前位置：<a href="http://easyzy.com">首页</a> > 新建作业 > 题库作业</div>
<div class="content">
    <div class="main-content">

    </div>
</div>

