@using easyzy.model.dto
@{var list = Model as List<dto_UserZy>;}

<table id="tabques" border="0" cellspacing="1" cellpadding="0" class="tab-default">
    <thead>
        <tr>
            <th>作业编号</th>
            <th>提交时间</th>
            <th>查看作答情况</th>
        </tr>
    </thead>
    <tbody id="tbody">
        @if (list != null)
        {
            foreach (dto_UserZy zy in list)
            {
                <tr>
                    <td>@zy.ZyNum</td>
                    <td>@zy.CreateDate.ToString("yyyy-MM-dd hh:mm:ss")</td>
                    <td><a href="http://easyzy.com/zy/query?zynum=@zy.ZyNum">查看</a></td>
                </tr>
            }
        }
        else
        {
            <tr><td colspan="3">尚未提交过作业！</td></tr>
        }
    </tbody>
</table>