
@{
    ViewBag.Title = "易作业-登录";
    ViewBag.Keywords = "易作业-登录";
    ViewBag.Description = "登录";
    Layout = "/Views/Shared/_RegLayOut.cshtml";
}

<script type="text/javascript">
    $("input").click(function(){
        $(this).css("border", "0");
    })
</script>

<div style="padding-top:100px;">
    <div class="reg">
        <div><img src="/Images/logo.jpg" width="80" height="80" /></div>
        <div class="line">
            <div class="regtip"><label>登录</label></div>
            <div class="logintip">没有帐号?<a href="reg">注册一个</a></div>
        </div>
        <div class="line" style="margin-top:30px;">
            <div class="title left">用户名：</div>
            <div class="left">
                <input type="text" class="text1 username" placeholder="用户名" />
            </div>
        </div>
        <div class="line">
            <div class="title left">密码：</div>
            <div class="left">
                <input type="password" class="text1 password" placeholder="密码" />
            </div>
        </div>
        <div class="line">
            <a href="javascript:void(0)" class="help rempsd unchoose">记住密码</a>
            <a href="javascript:void(0)" class="help right forpsd">忘记密码？</a>
        </div>
        <div class="line">
            <a href="javascript:void(0)" class="submit">登 录</a>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(".rempsd").on("click", function(){
        if ($(this).hasClass("unchoose")) {
            $(this).removeClass("unchoose").addClass("choose");
        }
        else {
            $(this).removeClass("choose").addClass("unchoose");
        }
    })

    $(".line .forpsd").on("click", function () {
        dialogAlert("暂未开放找回密码功能，请返回首页（<a style='color:red; border-bottom:1px solid red;' href='http://easyzy.com'>http://easyzy.com</a>）与我们联系重置密码！");
    })

    $(".submit").on("click", function () {
        var username = $(".username").val();
        var psd = $(".password").val();
        var isauto = "0";
        if ($(".line .rempsd").hasClass("choose")) {
            isauto = "1";
        }

        $.post("UserLogin",
            { userName: username, passWord: psd, isAutoLogin: isauto},
            function (data) {
                if (data == "0") {
                    window.location.href = "http://easyzy.com";
                }
                else {
                    dialogAlert("用户名或密码错误！");
                }
            })
    })
</script>
