
@{
    ViewBag.Title = "易作业-注册";
    ViewBag.Keywords = "Word上传作业，自传作业，新建作业，方便的新建作业";
    ViewBag.Description = "通过Word文档新建作业";
}

<div class="reg">
    <div class="title">注册</div>
    <div class="info">
        <input type="text" placeholder="请输入用户名" /><br/>
        <input type="text" placeholder="请输入密码" /><br />
        <input type="text" placeholder="确认密码" />
    </div>
    <div class="btn">

    </div>
</div>

