
<div class="barsummary">一共@(ViewBag.ClassCount)个班@(ViewBag.StuCount)个学生提交了本次作业</div>
<div id="chart_class" style="height:500px;">

</div>

<script type="text/javascript">
    var xBarDataStr = "", yBarDataStr = "";
    var xBarData = [], yBarData = [];

    $(function () {
        xBarDataStr = '@ViewBag.xData';
        xBarData = xBarDataStr.split(",");

        var ys = "@ViewBag.yData";
        ys = ys.replace(/&quot;/g, "\"");
        var y = JSON.parse(ys);

        for (var i = 0; i < y.length; i++) {
            yBarData.push({ name: y[i].name, value: y[i].value });
        }
    })

    var bar = function (elem) {
        var genchart = echarts.init(document.getElementById(elem));
        var o = {
            title: {
                text: '共@(ViewBag.ClassCount)个班有学生提交了作业',
                textStyle: {
                    fontSize: 14,
                    fontWeight: 'bolder',
                    color: '#333'
                }
            },
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b}: {c}"
            },
            legend: {
                padding: 30,
                data: xBarData
            },
            series: [
                {
                    name:'提交人数',
                    type:'pie',
                    radius: ['50%', '70%'],
                    avoidLabelOverlap: false,
                    label: {
                        normal: {
                            show: false,
                            position: 'center'
                        },
                        emphasis: {
                            show: true,
                            textStyle: {
                                fontSize: '30',
                                fontWeight: 'bold'
                            }
                        }
                    },
                    labelLine: {
                        normal: {
                            show: false
                        }
                    },
                    data: yBarData
                }
            ]
        };

        genchart.setOption(o);
    }

    bar("chart_class");
</script>