<div class="barsummary">本班共有@(ViewBag.SubmitCount)人提交了此作业，其中@(ViewBag.InTime)人是按时提交，@(ViewBag.OverTime)人是在截止日期之后提交，其余未提交。平均正确率为@(ViewBag.ScoreRate)%，点击图表可以查看学生提交详情。</div>
<div id="chart_submit" style="height:500px;">

</div>

<script type="text/javascript">
    var xBarDataStr = "", yBarDataStr = "";
    var xBarData = [], yBarData = [];

    $(function () {
        xBarDataStr = '@ViewBag.xData';
        yBarDataStr = '@ViewBag.yData';

        xBarData = xBarDataStr.split(",");
        yBarData = yBarDataStr.split(",");

        for (var i = 0; i < xBarData.length; i++) {
            xBarData[i] = xBarData[i].split("").join("\n");
        }
    })
    
    var bar = function (elem) {
        var genchart = echarts.init(document.getElementById(elem));
        var o = {
            title: {
                text: '本作业中客观题总数：@(ViewBag.ObjectiveCount)',
                textStyle: {
                    fontSize: 14,
                    fontWeight: 'bolder',
                    color: '#333'
                }
            },
            color: ['#3398DB'],
            legend: {
                data: ['答对数']
            },
            toolbox: {
                show: true,
                feature: {
                    mark: { show: true },
                    magicType: { show: true, type: ['line', 'bar'] },
                    restore: { show: true },
                    saveAsImage: { show: true }
                }
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'shadow'
                }
            },
            xAxis: {
                type: 'category',
                data: xBarData,
                triggerEvent: true
            },
            axisLabel: {
                interval: 0
            },
            yAxis: {
                type: 'value'
            },
            series: [{
                data: yBarData,
                type: 'bar',
                name: '答对数',
                markLine: {
                    data: [
                        { type: 'average', name: '平均值' }
                    ]
                }
            }]
        };

        genchart.setOption(o);
        genchart.on("click", function (p) {
            if (p.componentType == "xAxis") {
                alert(p.value.split("\n").join(""));
            }
        });
    }

    bar("chart_submit");
    
</script>