@using easyzy.model.entity;
@{var list = Model as List<T_ZyStruct>; }

@if (list != null)
{
    foreach (var q in list)
    {
        if (q.QuesType == 0)
        {
            <div class="left objective">
                <b>@(q.BqNum)@if(q.SqNum != 0){<b>-@(q.SqNum)</b>}.</b>
                @if (q.QuesAnswer.Length == 1)
                {
                    <span data-bind="@q.Id"><a href="javascript:void(0);" class="rdo unchoose">A</a><a href="javascript:void(0);" class="rdo unchoose">B</a><a href="javascript:void(0);" class="rdo unchoose">C</a><a href="javascript:void(0);" class="rdo unchoose">D</a></span>
                }
                else
                {
                    <span data-bind="@q.Id"><a href="javascript:void(0);" class="chk unchoose">A</a><a href="javascript:void(0);" class="chk unchoose">B</a><a href="javascript:void(0);" class="chk unchoose">C</a><a href="javascript:void(0);" class="chk unchoose">D</a></span>
                }
            </div>
        }
    }
}

