@{
    ViewBag.Title = "易作业移动端-首页";
}
<div class="content-wrap">
    <div class="left" style="width:50%; ">
        <div style="background:#ff6a00;" class="gn"><a href="/home/hw/myzy">已建作业</a></div>
        <div style="background:#0bc1bb;" class="gn"><a href="myrelation">关注我的</a></div>
        <div style="background:#0094ff;" class="gn"><a href="bbs">论坛</a></div>
    </div>
    <div class="left" style="width:50%; ">
        <div style="background:#b200ff;" class="gn"><a href="submited">已做作业</a></div>
        <div style="background:#ff006e;" class="gn"><a href="relateme">我的关注</a></div>
        @*<div style="background:#ffd800;" class="gn"><a href="created"></a></div>*@
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $(".neckcontent .f1").hide();
        $(".neckcontent .funcname").hide();
    })
</script>