@{
    ViewBag.Title = "易作业移动端-已建作业";
}


<div class="content-wrap">
    <div class="am-g">
        <div class="newsList">
            

        </div>
    </div>
</div>


<script type="text/javascript">
    var cur_data = {
        lastid: 0,
        pagesize: 10
    }

    var GetLastId = function () {
        if ($(".newsList .newsListBlock").length == 0) return 0;
        cur_data.lastid = $('.newsList .newsListBlock').eq(-1).attr("data-bind");
    }

    var GetMyZyData = function () {
        $(".newsList").append("<div class='loading'>加载中...</div>");
        GetLastId();
        $.post("/hw/GetMyZy",
            { lastId: cur_data.lastid, count: cur_data.pagesize },
            function (data) {
                $(".newsList .loading").remove();
                $(".newsList .nomore").remove();
                $(".newsList").append(data);
            })
    }

    $(function () {
        GetMyZyData();
    })
    
    window.onscroll = function () {
        if (getScrollHeight() == getWindowHeight() + getDocumentTop()) {
            GetMyZyData();
        }
    };
    
</script>