@{
    ViewBag.Title = "易作业移动端-关注老师的作业";
}

<div class="content-wrap">
    <div class="am-g">
        <div class="newsList">


        </div>
    </div>
</div>


<script type="text/javascript">
    var cur_data = {
        pageindex: 1,
        pagesize: 10
    }

    var GetRelatedUserZy = function () {
        $.post("/hw/GetRelatedUserZy",
            { pageIndex: cur_data.pageindex, pageSize: cur_data.pagesize },
            function (data) {
                $(".newsList").html(data);

                //if (parseInt($("#PageCountDiv").html()) > 1) {
                //    $("#pager").pager({ pagenumber: cur_data.pageindex, pagecount: $("#PageCountDiv").html(), buttonClickCallback: PageClick });
                //}

            })
    }

    GetRelatedUserZy();
</script>