@using easyzy.model.entity;
@{var list = Model as List<T_ZyStruct>; }

<div class="ques">
    <div class="cardtitle">答题卡，点击关闭按钮可以暂存并收起答题卡<img src="/Images/close.png" class="popclose" style="top:-14px; right:-11px;" onclick="closepop();" /></div>
    @{ bool b = false;}
    @if (list != null)
    {
        foreach (var q in list)
        {
            if (q.QuesType == 0)
            {
                <div class="left objective">
                    <b>@q.BqNum</b>
                    @if (q.SqNum != 0)
                    {
                        <b>-@(q.SqNum)</b>
                    }
                    <span>.</span>
                    @if (q.QuesAnswer.Length == 1)
                    {
                        <span data-bind="@q.Id"><a href="javascript:void(0);" class="rdo unchoose">A</a><a href="javascript:void(0);" class="rdo unchoose">B</a><a href="javascript:void(0);" class="rdo unchoose">C</a><a href="javascript:void(0);" class="rdo unchoose">D</a></span>
                    }
                    else
                    {
                        <span data-bind="@q.Id"><a href="javascript:void(0);" class="chk unchoose">A</a><a href="javascript:void(0);" class="chk unchoose">B</a><a href="javascript:void(0);" class="chk unchoose">C</a><a href="javascript:void(0);" class="chk unchoose">D</a></span>
                    }
                </div>
            }
            else
            {
                b = true;
            }
        }
    }
    
    @if (b)
    {
        <div class="anspiclist"></div>
        <div class="anspic">
            <label>上传主观题图片。可多道题答案上传在一张图片上</label><br/>
            <a href="javascript:void(0);" class="uploadpic"><img src="/Images/addpic.jpg" width="80" height="80" /></a>
        </div>
    }
    
    @if (list == null)
    {
        
        <div class="anspiclist"></div>
        <div class="anspic">
            <label>未设置答题卡，请通过上传图片作答。可多道题答案上传在一张图片上</label><br />
            <a href="javascript:void(0);" class="uploadpic"><img src="/Images/addpic.jpg" width="80" height="80" /></a>
        </div>
    }
</div>
<div class="func">
    姓名：<input placeholder="署上大名" id="truename" />
    <a class="btn" onclick="submitzy();">提交</a>
</div>