@{
    ViewBag.Title = "易作业-做作业";
    ViewBag.Keywords = "做作业-图片上传主观题答案";
    ViewBag.Description = "做作业";
}
<div class="slider">
    <div class="pic-field">
        <img src="/Images/boshimao.png" width="400" />
    </div>
</div>
<div class="content">
    <div class="main-content">

    </div>
</div>

