
@{
    ViewBag.Title = "易作业-查询作业";
}

<div class="content-nav">当前位置：<a href="/home/index">首页</a> > 查看作业</div>
<div class="content">
    <div class="main-content">
        <div class="zyquery">
            <b>作业编号：</b><input id="zyNum" value="@ViewBag.ZyNum" /><a class="btn" onclick="query();">查询</a><a class="chart" style="margin-left:20px;" href="javascript:void(0);">作业分析</a>
        </div>
        <div class="table">
            <table border="0" cellspacing="1" cellpadding="0" class="tab-default">
                <thead>
                    <tr>
                        <th>序号</th>
                        <th>姓名（点击可查看答案解析（如果有））</th>
                        <th>提交时间</th>
                        <th>客观题正确率</th>
                        <th>查看答题卡</th>
                    </tr>
                </thead>
                <tbody id="tbody"></tbody>
            </table>
        </div>
    </div>
</div>
<div class="fixed answercard">

</div>

<div class="preview st-roster" style="display:none; padding: 20px 10px;">
    <img src="/Images/close.png" class="popclose" />
    <ul>
        <li class="left active body">题文</li>
        <li class="f1 answer">答案/解析</li>
    </ul>
    <iframe name="ifraRight" id="ifraBody" width="100%" src="" frameborder="0" scrolling="yes" onLoad="this.height=500"></iframe>
    <iframe name="ifraRight" id="ifraAnswer" width="100%" style="display:none;" src="" frameborder="0" scrolling="yes" onLoad="this.height=500"></iframe>
</div>

<script type="text/javascript">
    $(function () {
        if (cur_data.DefaultZyNum != "") {
            query();
        }
        $("#zyNum").focus();
    })

    //回车
    $("body").bind("keyup", function (event) {
        if (event.keyCode == 13) {
            query();
        }
    });

    var cur_data = {
        DefaultZyNum: '@ViewBag.ZyNum',
        UploadUrl: '@ViewBag.UploadUrl',
        ZyNumQueried: 0,
        BodyHtml: "",
        AnswerHtml: "",
        QueryMsg:""
    }

    //查询
    var query = function () {
        var zyNum = $("#zyNum").val();
        if (zyNum == "") return false;
        $("#tbody").html("<div><img style='vertical-align: middle;' src='/images/loader.gif'><b>正在查询中……</b></div>");
        //检查是否有密码
        $.ajax({
            url: "NeedZyPsd",
            type: "post",
            async: false,
            data: { zyNum: zyNum },
            success: function (json) {
                if (json == "0") {
                    $.post("querysubmitedstudents",
                        { zyNum: zyNum },
                        function (data) {
                            cur_data.ZyNumQueried = zyNum;
                            $("#tbody").html(data);
                        })
                }
                else{
                    var d = dialog({
                        title: '提示',
                        content: '需要提供密码来查询作业：<input id="zyPsd" />',
                        okValue: '确定',
                        ok: function () {
                            var zypsd = trim($("#zyPsd").val());
                            if (zypsd == "") return false;
                            var b = false;
                            $.ajax({
                                url: "CheckZyPsd",
                                type: "post",
                                async: false,
                                data: { zyNum: zyNum, zyPsd: zypsd },
                                success: function (json) {
                                    if (json.substring(0, 1) == "0") {
                                        b = true;
                                    }
                                }
                            })
                            if (!b) {
                                this.title('密码错误！');
                                return false;
                            }
                            else{
                                $.post("querysubmitedstudents",
                                    { zyNum: zyNum },
                                    function (data) {
                                        cur_data.ZyNumQueried = zyNum;
                                        $("#tbody").html(data);
                                    })
                            }
                        },
                        cancelValue: '取消',
                        cancel: function () {$("#tbody").html("");}
                    });
                    d.showModal();
                }
            }
        })
    }

    var check = function (truename) {
        $.post("GetStudentAnswerCard",
            { zyNum: cur_data.ZyNumQueried, trueName: truename },
            function (data) {
                $(".answercard").html(data);
                $("#imglistul").viewer({
                    url: 'data-original'
                });
                $(".answercard").show();
            })
    }
    

    var ViewStudentZy = function (truename) {
        window.location.href = "check?zynum=" + cur_data.ZyNumQueried + "&truename=" + truename;
    }

    //关闭答题卡弹层
    var closepop = function () {
        $(".answercard").hide();
    }

    $(".chart").on("click", function () {
        if (cur_data.ZyNumQueried == 0) return false;
        window.location.href = "zychart?zynum=" + cur_data.ZyNumQueried;
    })
</script>