@{
    ViewBag.Title = "易作业-查询作业";
}

<div class="content-nav">当前位置：<a href="/home/index">首页</a> > <a href="query">查看作业</a> > 作业分析</div>
<div class="content">
    <div class="main-content">
        <div id="zychart" style="width:50%; height:600px; float:left;"></div>
        <div style="width:45%; float:left;"></div>
    </div>
</div>
@section scriptfirst
{
    <script src="~/Scripts/echarts/echarts.common.min.js"></script>
}

<script type="text/javascript">
    var zychart = echarts.init(document.getElementById("zychart"));
    var option = {
        title: {
            text: '客观题正确率',
            subtext: ''
        },
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'shadow'
            }
        },
        legend: {
            data: ['Zy1000051']
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: {
            type: 'value',
            boundaryGap: [0, 0.01]
        },
        yAxis: {
            type: 'category',
            data: ['1.1', '1.2', '2', '3', '4', '5', '3', '4', '5']
        },
        series: [
            {
                name: 'Zy1000051',
                type: 'bar',
                data: [25, 30, 15, 20, 80, 100, 20, 80, 100]
            }
        ]
    };

    zychart.setOption(option);
</script>